Repository State-of-Rhode-Island-eCMS/ecms_profile, pull requests merged in 2020-09, with the labels that each got.

#6 Added webform as a requirement for the ecms_base profile
  CHANGELOG.md
  composer.json
  ecms_base/ecms_base.info.yml
  phpunit.xml
  tests/src/Functional/AllProfileInstallationTestsAbstract.php
Labels: approved, configuration, drupal, php

#11 Role additions and updates to standard install profile
  CHANGELOG.md
  composer.json
  docs/development.md
  ecms_base/config/install/filter.format.embed.yml
  ecms_base/config/install/publishcontent.settings.yml
  ecms_base/config/install/user.role.anonymous.yml
  ecms_base/config/install/user.role.authenticated.yml
  ecms_base/config/install/user.role.content_author.yml
  ecms_base/config/install/user.role.content_publisher.yml
  ecms_base/config/install/user.role.drupal_admin.yml
  ecms_base/config/install/user.role.embed_author.yml
  ecms_base/config/install/user.role.form_author.yml
  ecms_base/config/install/user.role.site_admin.yml
  ecms_base/ecms_base.info.yml
  ecms_base/ecms_base.install
  tests/src/Functional/AllProfileInstallationTestsAbstract.php
Labels: approved, configuration, documentation, drupal

#12 Configure active directory connection and authentication against AD groups
  CHANGELOG.md
  composer.json
  docs/authentication.md
  ecms_acquia/tests/src/Functional/InstallationTest.php
  ecms_base/config/install/openid_connect.settings.generic.yml
  ecms_base/config/install/openid_connect.settings.windows_aad.yml
  ecms_base/ecms_base.info.yml
  ecms_base/ecms_base.install
  ecms_base/modules/custom/ecms_authentication/README.md
  ecms_base/modules/custom/ecms_authentication/ecms_authentication.info.yml
  ecms_base/modules/custom/ecms_authentication/ecms_authentication.module
  ecms_base/modules/custom/ecms_authentication/ecms_authentication.services.yml
  ecms_base/modules/custom/ecms_authentication/src/EcmsUserAuthentication.php
  ecms_base/modules/custom/ecms_authentication/tests/src/Unit/EcmsUserAuthenticationTest.php
  ecms_base/tests/src/Functional/InstallationTest.php
  tests/src/Functional/AllProfileInstallationTestsAbstract.php
Labels: approved, configuration, documentation, drupal, php

#13 Add the Event content type as a feature module
  CHANGELOG.md
  composer.json
  docs/features.md
  ecms_base/ecms_base.info.yml
  ecms_base/features/custom/ecms_event/config/install/core.base_field_override.node.event.promote.yml
  ecms_base/features/custom/ecms_event/config/install/core.entity_form_display.media.event_image.default.yml
  ecms_base/features/custom/ecms_event/config/install/core.entity_form_display.media.event_image.media_library.yml
  ecms_base/features/custom/ecms_event/config/install/core.entity_form_display.node.event.default.yml
  ecms_base/features/custom/ecms_event/config/install/core.entity_view_display.media.event_image.default.yml
  ecms_base/features/custom/ecms_event/config/install/core.entity_view_display.media.event_image.media_library.yml
  ecms_base/features/custom/ecms_event/config/install/core.entity_view_display.node.event.default.yml
  ecms_base/features/custom/ecms_event/config/install/core.entity_view_display.node.event.teaser.yml
  ecms_base/features/custom/ecms_event/config/install/field.field.media.event_image.field_media_image_1.yml
  ecms_base/features/custom/ecms_event/config/install/field.field.node.event.field_event_body.yml
  ecms_base/features/custom/ecms_event/config/install/field.field.node.event.field_event_contact.yml
  ecms_base/features/custom/ecms_event/config/install/field.field.node.event.field_event_date.yml
  ecms_base/features/custom/ecms_event/config/install/field.field.node.event.field_event_image.yml
  ecms_base/features/custom/ecms_event/config/install/field.field.node.event.field_event_location.yml
  ecms_base/features/custom/ecms_event/config/install/field.field.node.event.field_event_type.yml
  ecms_base/features/custom/ecms_event/config/install/field.storage.media.field_media_image_1.yml
  ecms_base/features/custom/ecms_event/config/install/field.storage.node.field_event_body.yml
  ecms_base/features/custom/ecms_event/config/install/field.storage.node.field_event_contact.yml
  ecms_base/features/custom/ecms_event/config/install/field.storage.node.field_event_date.yml
  ecms_base/features/custom/ecms_event/config/install/field.storage.node.field_event_image.yml
  ecms_base/features/custom/ecms_event/config/install/field.storage.node.field_event_location.yml
  ecms_base/features/custom/ecms_event/config/install/field.storage.node.field_event_type.yml
  ecms_base/features/custom/ecms_event/config/install/media.type.event_image.yml
  ecms_base/features/custom/ecms_event/config/install/node.type.event.yml
  ecms_base/features/custom/ecms_event/config/install/taxonomy.vocabulary.event_taxonomy.yml
  ecms_base/features/custom/ecms_event/ecms_event.features.yml
  ecms_base/features/custom/ecms_event/ecms_event.info.yml
  tests/src/Functional/AllProfileInstallationTestsAbstract.php
Labels: approved, configuration, drupal, php

#14 Add the Promotion content type as a feature
  CHANGELOG.md
  docs/features.md
  ecms_base/ecms_base.info.yml
  ecms_base/features/custom/ecms_person/ecms_person.info.yml
  ecms_base/features/custom/ecms_promotions/config/install/core.base_field_override.node.promotions.promote.yml
  ecms_base/features/custom/ecms_promotions/config/install/core.entity_form_display.node.promotions.default.yml
  ecms_base/features/custom/ecms_promotions/config/install/core.entity_view_display.node.promotions.default.yml
  ecms_base/features/custom/ecms_promotions/config/install/core.entity_view_display.node.promotions.teaser.yml
  ecms_base/features/custom/ecms_promotions/config/install/field.field.node.promotions.field_promotion_body.yml
  ecms_base/features/custom/ecms_promotions/config/install/field.field.node.promotions.field_promotion_image.yml
  ecms_base/features/custom/ecms_promotions/config/install/field.field.node.promotions.field_promotion_url.yml
  ecms_base/features/custom/ecms_promotions/config/install/field.storage.node.field_promotion_body.yml
  ecms_base/features/custom/ecms_promotions/config/install/field.storage.node.field_promotion_image.yml
  ecms_base/features/custom/ecms_promotions/config/install/field.storage.node.field_promotion_url.yml
  ecms_base/features/custom/ecms_promotions/config/install/media.type.promotional_image.yml
  ecms_base/features/custom/ecms_promotions/config/install/node.type.promotions.yml
  ecms_base/features/custom/ecms_promotions/ecms_promotions.features.yml
  ecms_base/features/custom/ecms_promotions/ecms_promotions.info.yml
  tests/src/Functional/AllProfileInstallationTestsAbstract.php
Labels: configuration, drupal, php

#15 Add the Basic page content feature to the profile
  CHANGELOG.md
  docs/features.md
  ecms_base/ecms_base.info.yml
  ecms_base/features/custom/ecms_basic_page/config/install/core.base_field_override.node.basic_page.promote.yml
  ecms_base/features/custom/ecms_basic_page/config/install/core.entity_form_display.node.basic_page.default.yml
  ecms_base/features/custom/ecms_basic_page/config/install/core.entity_view_display.node.basic_page.default.yml
  ecms_base/features/custom/ecms_basic_page/config/install/core.entity_view_display.node.basic_page.teaser.yml
  ecms_base/features/custom/ecms_basic_page/config/install/field.field.node.basic_page.field_basic_page_body.yml
  ecms_base/features/custom/ecms_basic_page/config/install/field.storage.node.field_basic_page_body.yml
  ecms_base/features/custom/ecms_basic_page/config/install/node.type.basic_page.yml
  ecms_base/features/custom/ecms_basic_page/ecms_basic_page.features.yml
  ecms_base/features/custom/ecms_basic_page/ecms_basic_page.info.yml
  tests/src/Functional/AllProfileInstallationTestsAbstract.php
Labels: approved, configuration, drupal, php

#17 Content moderation notifications
  .gitignore
  CHANGELOG.md
  composer.json
  ecms_base/config/install/content_moderation_notifications.content_moderation_notification.ready_for_review.yml
  ecms_base/ecms_base.info.yml
  phpcs.xml
  tests/src/Functional/AllProfileInstallationTestsAbstract.php
Labels: approved, configuration, drupal, php

#18 Testing performance fixes
  .github/workflows/develop.yml
  CHANGELOG.md
  scripts/develop.sh
Labels: approved, configuration

#20 Create and configure the base `ecms_api` module
  CHANGELOG.md
  composer.json
  docs/api.md
  ecms_base/modules/custom/ecms_api/README.md
  ecms_base/modules/custom/ecms_api/config/optional/jsonapi.settings.yml
  ecms_base/modules/custom/ecms_api/config/optional/jsonapi_extras.settings.yml
  ecms_base/modules/custom/ecms_api/config/optional/simple_oauth.settings.yml
  ecms_base/modules/custom/ecms_api/ecms_api.info.yml
  ecms_base/modules/custom/ecms_api/ecms_api.install
  ecms_base/modules/custom/ecms_api/ecms_api.services.yml
  ecms_base/modules/custom/ecms_api/src/EcmsApiInstall.php
  ecms_base/modules/custom/ecms_api/tests/src/Functional/InstallationTest.php
  ecms_base/modules/custom/ecms_api/tests/src/Unit/EcmsApiInstallTest.php
  phpunit.xml
Labels: approved, configuration, documentation, drupal, php

#19 Add custom theme and pattern lab dependency
  .gitignore
  CHANGELOG.md
  composer.json
  docs/development.md
  docs/theming.md
  ecms_base/config/install/system.theme.yml
  ecms_base/ecms_base.info.yml
  ecms_base/themes/custom/ecms/ecms.info.yml
  scripts/develop.sh
Labels: approved, configuration, drupal

#21 Create the ecms_api_recipient custom module
  CHANGELOG.md
  docs/api.md
  ecms_base/config/install/content_moderation_notifications.content_moderation_notification.ready_for_review.yml
  ecms_base/modules/custom/ecms_api_recipient/README.md
  ecms_base/modules/custom/ecms_api_recipient/config/install/ecms_api_recipient.settings.yml
  ecms_base/modules/custom/ecms_api_recipient/config/install/user.role.ecms_api_recipient.yml
  ecms_base/modules/custom/ecms_api_recipient/config/schema/ecms_api_recipient.schema.yml
  ecms_base/modules/custom/ecms_api_recipient/ecms_api_recipient.info.yml
  ecms_base/modules/custom/ecms_api_recipient/ecms_api_recipient.install
  ecms_base/modules/custom/ecms_api_recipient/ecms_api_recipient.links.menu.yml
  ecms_base/modules/custom/ecms_api_recipient/ecms_api_recipient.routing.yml
  ecms_base/modules/custom/ecms_api_recipient/ecms_api_recipient.services.yml
  ecms_base/modules/custom/ecms_api_recipient/src/EcmsApiRecipientInstall.php
  ecms_base/modules/custom/ecms_api_recipient/src/Form/EcmsApiRecipientConfigForm.php
  ecms_base/modules/custom/ecms_api_recipient/tests/src/Functional/InstallationTest.php
  ecms_base/modules/custom/ecms_api_recipient/tests/src/Unit/EcmsApiRecipientInstallTest.php
  ecms_base/modules/custom/ecms_api_recipient/tests/src/Unit/Form/EcmsApiRecipientConfigFormTest.php
Labels: approved, configuration, documentation, drupal, php

#23 Add the ecms api publiser module and custom entity
  CHANGELOG.md
  composer.json
  docs/api.md
  ecms_base/modules/custom/ecms_api_publisher/README.md
  ecms_base/modules/custom/ecms_api_publisher/config/install/ecms_api_publisher.settings.yml
  ecms_base/modules/custom/ecms_api_publisher/config/install/user.role.ecms_api_publisher.yml
  ecms_base/modules/custom/ecms_api_publisher/config/schema/ecms_api_publisher.schema.yml
  ecms_base/modules/custom/ecms_api_publisher/ecms_api_publisher.info.yml
  ecms_base/modules/custom/ecms_api_publisher/ecms_api_publisher.install
  ecms_base/modules/custom/ecms_api_publisher/ecms_api_publisher.permissions.yml
  ecms_base/modules/custom/ecms_api_publisher/ecms_api_publisher.services.yml
  ecms_base/modules/custom/ecms_api_publisher/src/EcmsApiPublisherInstall.php
  ecms_base/modules/custom/ecms_api_publisher/src/EcmsApiSiteAccessControlHandler.php
  ecms_base/modules/custom/ecms_api_publisher/src/EcmsApiSiteHtmlRouteProvider.php
  ecms_base/modules/custom/ecms_api_publisher/src/EcmsApiSiteListBuilder.php
  ecms_base/modules/custom/ecms_api_publisher/src/Entity/EcmsApiSite.php
  ecms_base/modules/custom/ecms_api_publisher/src/Entity/EcmsApiSiteInterface.php
  ecms_base/modules/custom/ecms_api_publisher/src/Form/EcmsApiSiteDeleteForm.php
  ecms_base/modules/custom/ecms_api_publisher/src/Form/EcmsApiSiteForm.php
  ecms_base/modules/custom/ecms_api_publisher/tests/src/Functional/InstallationTest.php
  ecms_base/modules/custom/ecms_api_publisher/tests/src/Functional/PublisherInstallTest.php
  ecms_base/modules/custom/ecms_api_publisher/tests/src/Unit/EcmsApiPublisherInstallTest.php
  ecms_base/modules/custom/ecms_api_publisher/tests/src/Unit/Entity/EcmsApiSiteTest.php
  scripts/develop.sh
Labels: approved, configuration, documentation, drupal, php

#26 Create the base class to authenticate and submit entities with Json API
  CHANGELOG.md
  ecms_base/modules/custom/ecms_api/README.md
  ecms_base/modules/custom/ecms_api/src/EcmsApiBase.php
  ecms_base/modules/custom/ecms_api/tests/src/Unit/EcmsApiBaseTest.php
Labels: approved, documentation, drupal, php

#30 Fix the develop script to properly pull in the pattern lab repository.
  CHANGELOG.md
  phpcs.xml
  scripts/develop.sh
Labels: approved, bash

#31 Update the develop script to allow for Pattern Lab development
  CHANGELOG.md
  composer.json
  docs/development.md
  scripts/develop.sh
Labels: approved, bash, documentation

#32 Install components and connect pattern lab assets to theme
  CHANGELOG.md
  composer.json
  docs/development.md
  ecms_base/ecms_base.info.yml
  ecms_base/themes/custom/ecms/ecms.info.yml
  ecms_base/themes/custom/ecms/ecms.libraries.yml
Labels: drupal, yml

#27 Adds the optional publication content type as a feature
  CHANGELOG.md
  composer.json
  docs/features.md
  ecms_base/ecms_base.info.yml
  ecms_base/features/custom/ecms_publications/config/install/core.base_field_override.node.publication.promote.yml
  ecms_base/features/custom/ecms_publications/config/install/core.entity_form_display.media.publication_file.default.yml
  ecms_base/features/custom/ecms_publications/config/install/core.entity_form_display.media.publication_file.media_library.yml
  ecms_base/features/custom/ecms_publications/config/install/core.entity_form_display.node.publication.default.yml
  ecms_base/features/custom/ecms_publications/config/install/core.entity_view_display.media.publication_file.default.yml
  ecms_base/features/custom/ecms_publications/config/install/core.entity_view_display.media.publication_file.media_library.yml
  ecms_base/features/custom/ecms_publications/config/install/core.entity_view_display.node.publication.default.yml
  ecms_base/features/custom/ecms_publications/config/install/core.entity_view_display.node.publication.teaser.yml
  ecms_base/features/custom/ecms_publications/config/install/field.field.media.publication_file.field_media_file.yml
  ecms_base/features/custom/ecms_publications/config/install/field.field.node.publication.field_publication_audiences.yml
  ecms_base/features/custom/ecms_publications/config/install/field.field.node.publication.field_publication_date_modified.yml
  ecms_base/features/custom/ecms_publications/config/install/field.field.node.publication.field_publication_file_download.yml
  ecms_base/features/custom/ecms_publications/config/install/field.field.node.publication.field_publication_topics.yml
  ecms_base/features/custom/ecms_publications/config/install/field.field.node.publication.field_publication_types.yml
  ecms_base/features/custom/ecms_publications/config/install/field.field.node.publication.field_publication_url.yml
  ecms_base/features/custom/ecms_publications/config/install/field.storage.media.field_media_file.yml
  ecms_base/features/custom/ecms_publications/config/install/field.storage.node.field_publication_audiences.yml
  ecms_base/features/custom/ecms_publications/config/install/field.storage.node.field_publication_date_modified.yml
  ecms_base/features/custom/ecms_publications/config/install/field.storage.node.field_publication_file_download.yml
  ecms_base/features/custom/ecms_publications/config/install/field.storage.node.field_publication_topics.yml
  ecms_base/features/custom/ecms_publications/config/install/field.storage.node.field_publication_types.yml
  ecms_base/features/custom/ecms_publications/config/install/field.storage.node.field_publication_url.yml
  ecms_base/features/custom/ecms_publications/config/install/media.type.publication_file.yml
  ecms_base/features/custom/ecms_publications/config/install/node.type.publication.yml
  ecms_base/features/custom/ecms_publications/config/install/taxonomy.vocabulary.publication_audience.yml
  ecms_base/features/custom/ecms_publications/config/install/taxonomy.vocabulary.publication_topic.yml
  ecms_base/features/custom/ecms_publications/config/install/taxonomy.vocabulary.publication_type.yml
  ecms_base/features/custom/ecms_publications/ecms_publications.features.yml
  ecms_base/features/custom/ecms_publications/ecms_publications.info.yml
  ecms_base/features/custom/ecms_publications/tests/src/Functional/EcmsPublicationsInstallTest.php
  tests/src/Functional/AllProfileInstallationTestsAbstract.php
Labels: approved, configuration, drupal, php

#33 Add optional speech content type as feature
  CHANGELOG.md
  ecms_base/features/custom/ecms_speeches/config/install/core.base_field_override.node.speech.promote.yml
  ecms_base/features/custom/ecms_speeches/config/install/core.entity_form_display.node.speech.default.yml
  ecms_base/features/custom/ecms_speeches/config/install/core.entity_view_display.node.speech.default.yml
  ecms_base/features/custom/ecms_speeches/config/install/core.entity_view_display.node.speech.teaser.yml
  ecms_base/features/custom/ecms_speeches/config/install/field.field.node.speech.field_speech_date.yml
  ecms_base/features/custom/ecms_speeches/config/install/field.field.node.speech.field_speech_long_title.yml
  ecms_base/features/custom/ecms_speeches/config/install/field.field.node.speech.field_speech_text.yml
  ecms_base/features/custom/ecms_speeches/config/install/field.storage.node.field_speech_date.yml
  ecms_base/features/custom/ecms_speeches/config/install/field.storage.node.field_speech_long_title.yml
  ecms_base/features/custom/ecms_speeches/config/install/field.storage.node.field_speech_text.yml
  ecms_base/features/custom/ecms_speeches/config/install/node.type.speech.yml
  ecms_base/features/custom/ecms_speeches/ecms_speeches.features.yml
  ecms_base/features/custom/ecms_speeches/ecms_speeches.info.yml
  ecms_base/features/custom/ecms_speeches/tests/src/Functional/EcmsSpeechesInstallTest.php
Labels: approved, configuration, drupal, php, yml
