Repository State-of-Rhode-Island-eCMS/ecms_profile, pull requests merged in 2020-11, with the labels that each got.

#92 Update scheduler permissions
  CHANGELOG.md
  ecms_base/config/install/user.role.content_publisher.yml
  ecms_base/config/install/user.role.site_admin.yml
  ecms_base/ecms_base.profile
Labels: approved, configuration, drupal, php, yml

#94 Promotion config changes
  CHANGELOG.md
  ecms_base/features/custom/ecms_promotions/config/install/core.base_field_override.media.promotional_image.changed.yml
  ecms_base/features/custom/ecms_promotions/config/install/core.base_field_override.media.promotional_image.created.yml
  ecms_base/features/custom/ecms_promotions/config/install/core.base_field_override.media.promotional_image.name.yml
  ecms_base/features/custom/ecms_promotions/config/install/core.base_field_override.media.promotional_image.path.yml
  ecms_base/features/custom/ecms_promotions/config/install/core.base_field_override.media.promotional_image.status.yml
  ecms_base/features/custom/ecms_promotions/config/install/core.base_field_override.media.promotional_image.uid.yml
  ecms_base/features/custom/ecms_promotions/config/install/core.entity_form_display.media.promotional_image.default.yml
  ecms_base/features/custom/ecms_promotions/config/install/core.entity_form_display.media.promotional_image.media_library.yml
  ecms_base/features/custom/ecms_promotions/config/install/core.entity_form_display.node.promotions.default.yml
  ecms_base/features/custom/ecms_promotions/config/install/core.entity_view_display.media.promotional_image.default.yml
  ecms_base/features/custom/ecms_promotions/config/install/core.entity_view_display.media.promotional_image.media_library.yml
  ecms_base/features/custom/ecms_promotions/config/install/core.entity_view_display.node.promotions.default.yml
  ecms_base/features/custom/ecms_promotions/config/install/core.entity_view_display.node.promotions.teaser.yml
  ecms_base/features/custom/ecms_promotions/config/install/field.field.media.promotional_image.field_promotion_image.yml
  ecms_base/features/custom/ecms_promotions/config/install/field.field.node.promotions.field_promotion_body.yml
  ecms_base/features/custom/ecms_promotions/config/install/field.field.node.promotions.field_promotion_display_title.yml
  ecms_base/features/custom/ecms_promotions/config/install/field.field.node.promotions.field_promotion_global_display.yml
  ecms_base/features/custom/ecms_promotions/config/install/field.field.node.promotions.field_promotion_image.yml
  ecms_base/features/custom/ecms_promotions/config/install/field.field.node.promotions.field_promotion_text.yml
  ecms_base/features/custom/ecms_promotions/config/install/field.storage.media.field_promotion_image.yml
  ecms_base/features/custom/ecms_promotions/config/install/field.storage.node.field_promotion_display_title.yml
  ecms_base/features/custom/ecms_promotions/config/install/field.storage.node.field_promotion_global_display.yml
  ecms_base/features/custom/ecms_promotions/config/install/field.storage.node.field_promotion_text.yml
  ecms_base/features/custom/ecms_promotions/config/install/media.type.promotional_image.yml
  ecms_base/features/custom/ecms_promotions/config/install/views.view.promotion_entity_reference_filter.yml
  ecms_base/features/custom/ecms_promotions/ecms_promotions.info.yml
Labels: bug, configuration, yml

#97 Remove jQuery from eCMS and change layout templates locations
  CHANGELOG.md
  ecms_base/themes/custom/ecms/ecms.libraries.yml
  ecms_base/themes/custom/ecms/templates/layout/layout--four-column.html.twig
  ecms_base/themes/custom/ecms/templates/layout/layout--one-column.html.twig
  ecms_base/themes/custom/ecms/templates/layout/layout--three-column.html.twig
  ecms_base/themes/custom/ecms/templates/layout/layout--two-column.html.twig
Labels: approved, twig, yml

#98 Prepare changelog for 0.1.7 release
  CHANGELOG.md
Labels: approved, release

#100 Sidebar nav preprocess and connect promotions teaser to PL
  CHANGELOG.md
  ecms_base/features/custom/ecms_promotions/config/install/core.entity_view_display.node.promotions.teaser.yml
  ecms_base/themes/custom/ecms/ecms.theme
  ecms_base/themes/custom/ecms/templates/blocks/block--menu-block--minor.html.twig
  ecms_base/themes/custom/ecms/templates/content/node--promotions--teaser.html.twig
Labels: configuration, drupal, php, twig, yml

#102 Social navigation form alterations
  CHANGELOG.md
  ecms_base/config/install/system.menu.social-navigation.yml
  ecms_base/ecms_base.profile
  ecms_base/modules/custom/ecms_distribution/README.md
  ecms_base/modules/custom/ecms_distribution/ecms_distribution.module
Labels: configuration, drupal, php

#103 Add scheduled transitions
  CHANGELOG.md
  composer.json
  ecms_base/config/install/scheduled_transitions.settings.yml
  ecms_base/ecms_base.info.yml
  ecms_base/ecms_base.profile
  ecms_base/features/custom/ecms_basic_page/ecms_basic_page.info.yml
  ecms_base/features/custom/ecms_event/ecms_event.info.yml
  ecms_base/features/custom/ecms_executive_orders/ecms_executive_orders.info.yml
  ecms_base/features/custom/ecms_hotel/ecms_hotel.info.yml
  ecms_base/features/custom/ecms_landing_page/ecms_landing_page.info.yml
  ecms_base/features/custom/ecms_location/ecms_location.info.yml
  ecms_base/features/custom/ecms_person/ecms_person.info.yml
  ecms_base/features/custom/ecms_press_release/ecms_press_release.info.yml
  ecms_base/features/custom/ecms_projects/ecms_projects.info.yml
  ecms_base/features/custom/ecms_promotions/ecms_promotions.info.yml
  ecms_base/features/custom/ecms_publications/ecms_publications.info.yml
  ecms_base/features/custom/ecms_speeches/ecms_speeches.info.yml
  ecms_base/modules/custom/ecms_workflow/src/EcmsWorkflowBundleCreate.php
  ecms_base/modules/custom/ecms_workflow/tests/src/Unit/EcmsWorkflowBundleCreateTest.php
Labels: approved, drupal, json, php, yml

#104 Promotion reference fields added to default content types
  CHANGELOG.md
  ecms_base/features/custom/ecms_basic_page/ecms_basic_page.info.yml
  ecms_base/features/custom/ecms_event/config/install/core.entity_form_display.media.event_image.default.yml
  ecms_base/features/custom/ecms_event/config/install/core.entity_form_display.media.event_image.media_library.yml
  ecms_base/features/custom/ecms_event/config/install/core.entity_form_display.node.event.default.yml
  ecms_base/features/custom/ecms_event/config/install/core.entity_view_display.media.event_image.default.yml
  ecms_base/features/custom/ecms_event/config/install/core.entity_view_display.media.event_image.media_library.yml
  ecms_base/features/custom/ecms_event/config/install/core.entity_view_display.node.event.default.yml
  ecms_base/features/custom/ecms_event/config/install/core.entity_view_display.node.event.teaser.yml
  ecms_base/features/custom/ecms_event/config/install/field.field.node.event.field_event_promotions.yml
  ecms_base/features/custom/ecms_event/config/install/field.storage.node.field_event_promotions.yml
  ecms_base/features/custom/ecms_event/config/install/rabbit_hole.behavior_settings.taxonomy_vocabulary_event_taxonomy.yml
  ecms_base/features/custom/ecms_event/ecms_event.info.yml
  ecms_base/features/custom/ecms_location/config/install/core.entity_form_display.node.location.default.yml
  ecms_base/features/custom/ecms_location/config/install/core.entity_view_display.node.location.default.yml
  ecms_base/features/custom/ecms_location/config/install/core.entity_view_display.node.location.teaser.yml
  ecms_base/features/custom/ecms_location/config/install/field.field.node.location.field_location_promotions.yml
  ecms_base/features/custom/ecms_location/config/install/field.storage.node.field_location_promotions.yml
  ecms_base/features/custom/ecms_location/ecms_location.info.yml
  ecms_base/features/custom/ecms_person/config/install/core.entity_form_display.media.person_headshot.default.yml
  ecms_base/features/custom/ecms_person/config/install/core.entity_form_display.media.person_headshot.media_library.yml
  ecms_base/features/custom/ecms_person/config/install/core.entity_form_display.node.person.default.yml
  ecms_base/features/custom/ecms_person/config/install/core.entity_view_display.media.person_headshot.default.yml
  ecms_base/features/custom/ecms_person/config/install/core.entity_view_display.media.person_headshot.media_library.yml
  ecms_base/features/custom/ecms_person/config/install/core.entity_view_display.node.person.default.yml
  ecms_base/features/custom/ecms_person/config/install/core.entity_view_display.node.person.teaser.yml
  ecms_base/features/custom/ecms_person/config/install/field.field.node.person.field_person_promotions.yml
  ecms_base/features/custom/ecms_person/config/install/field.storage.node.field_person_promotions.yml
  ecms_base/features/custom/ecms_person/config/install/rabbit_hole.behavior_settings.taxonomy_vocabulary_person_taxonomy.yml
  ecms_base/features/custom/ecms_person/ecms_person.info.yml
  ecms_base/features/custom/ecms_press_release/config/install/core.entity_form_display.node.press_release.default.yml
  ecms_base/features/custom/ecms_press_release/config/install/core.entity_view_display.node.press_release.default.yml
  ecms_base/features/custom/ecms_press_release/config/install/core.entity_view_display.node.press_release.teaser.yml
  ecms_base/features/custom/ecms_press_release/config/install/field.field.node.press_release.field_press_release_promotions.yml
  ecms_base/features/custom/ecms_press_release/config/install/field.storage.node.field_press_release_promotions.yml
  ecms_base/features/custom/ecms_press_release/ecms_press_release.info.yml
  ecms_base/features/custom/ecms_promotions/config/install/core.entity_form_display.node.promotions.default.yml
  ecms_base/features/custom/ecms_promotions/config/install/rabbit_hole.behavior_settings.node_type_promotions.yml
  ecms_base/features/custom/ecms_promotions/ecms_promotions.info.yml
Labels: approved, configuration, drupal, yml

#105 Add press release syndication to back to the hub site
  CHANGELOG.md
  ecms_base/config/install/user.role.anonymous.yml
  ecms_base/config/install/user.role.authenticated.yml
  ecms_base/config/install/user.role.content_author.yml
  ecms_base/config/install/user.role.content_publisher.yml
  ecms_base/config/install/user.role.site_admin.yml
  ecms_base/ecms_base.info.yml
  ecms_base/ecms_base.post_update.php
  ecms_base/ecms_base.profile
  ecms_base/modules/custom/ecms_api/ecms_api.services.yml
  ecms_base/modules/custom/ecms_api/src/EcmsApiBase.php
  ecms_base/modules/custom/ecms_api/src/EcmsApiHelper.php
  ecms_base/modules/custom/ecms_api/tests/src/Unit/EcmsApiBaseTest.php
  ecms_base/modules/custom/ecms_api/tests/src/Unit/EcmsApiHelperTest.php
  ecms_base/modules/custom/ecms_api_notification_publisher/ecms_api_notification_publisher.services.yml
  ecms_base/modules/custom/ecms_api_notification_publisher/src/NotificationPublisher.php
  ecms_base/modules/custom/ecms_api_notification_publisher/tests/src/Unit/NotificationPublisherTest.php
  ecms_base/modules/custom/ecms_api_press_release_publisher/ecms_api_press_release_publisher.info.yml
  ecms_base/modules/custom/ecms_api_press_release_publisher/ecms_api_press_release_publisher.module
  ecms_base/modules/custom/ecms_api_press_release_publisher/ecms_api_press_release_publisher.services.yml
  ecms_base/modules/custom/ecms_api_press_release_publisher/src/Plugin/QueueWorker/PressReleaseQueueWorker.php
  ecms_base/modules/custom/ecms_api_press_release_publisher/src/PressReleasePublisher.php
  ecms_base/modules/custom/ecms_api_press_release_publisher/src/PressReleaseSyndicate.php
  ecms_base/modules/custom/ecms_api_publisher/config/install/user.role.ecms_api_publisher.yml
  ecms_base/modules/custom/ecms_api_publisher/ecms_api_publisher.info.yml
  ecms_base/modules/custom/ecms_api_publisher/ecms_api_publisher.services.yml
  ecms_base/modules/custom/ecms_api_publisher/src/EcmsApiPublisher.php
  ecms_base/modules/custom/ecms_api_publisher/tests/src/Unit/EcmsApiPublisherTest.php
  ecms_base/modules/custom/ecms_api_recipient/ecms_api_recipient.services.yml
  ecms_base/modules/custom/ecms_api_recipient/src/EcmsApiCreateNotifications.php
  ecms_base/modules/custom/ecms_api_recipient/src/EcmsApiRecipientRegister.php
  ecms_base/modules/custom/ecms_api_recipient/tests/src/Unit/EcmsApiCreateNotificationsTest.php
  ecms_base/modules/custom/ecms_api_recipient/tests/src/Unit/EcmsApiRecipientRegisterTest.php
Labels: approved, drupal, php

#107 Prepare changelog for 0.1.9 release
  CHANGELOG.md
Labels: release

#109 Fixed the class path
  CHANGELOG.md
  ecms_base/modules/custom/ecms_api_recipient/ecms_api_recipient.services.yml
Labels: configuration, drupal

#108 Add disable languages module
  CHANGELOG.md
  composer.json
  ecms_base/config/install/disable_language.settings.yml
  ecms_base/config/install/user.role.authenticated.yml
  ecms_base/ecms_base.info.yml
  ecms_base/ecms_base.profile
Labels: approved, configuration, drupal, json, yml

#110 Prepare changelog for 0.2.0 release.
  CHANGELOG.md
Labels: release

#111 Add eCMS Languages custom module
  CHANGELOG.md
  composer.json
  ecms_base/config/install/scheduler.settings.yml
  ecms_base/ecms_base.info.yml
  ecms_base/ecms_base.profile
  ecms_base/modules/custom/ecms_languages/README.md
  ecms_base/modules/custom/ecms_languages/config/install/ecms_languages.settings.yml
  ecms_base/modules/custom/ecms_languages/config/schema/ecms_languages.schema.yml
  ecms_base/modules/custom/ecms_languages/ecms_languages.info.yml
  ecms_base/modules/custom/ecms_languages/ecms_languages.links.menu.yml
  ecms_base/modules/custom/ecms_languages/ecms_languages.module
  ecms_base/modules/custom/ecms_languages/ecms_languages.routing.yml
  ecms_base/modules/custom/ecms_languages/src/Form/EcmsLanguageSettings.php
  ecms_base/modules/custom/ecms_workflow/src/EcmsWorkflowBundleCreate.php
  ecms_base/modules/custom/ecms_workflow/tests/src/Unit/EcmsWorkflowBundleCreateTest.php
Labels: approved, configuration, drupal, php, yml

#112 Fix language detection to use cookies/sessions instead of URL.
  CHANGELOG.md
  composer.json
  ecms_base/config/install/language.negotiation.yml
  ecms_base/config/install/language.types.yml
  ecms_base/config/install/language_cookie.negotiation.yml
  ecms_base/ecms_base.info.yml
  ecms_base/ecms_base.profile
  ecms_base/modules/custom/ecms_languages/README.md
  ecms_base/modules/custom/ecms_languages/ecms_languages.module
  ecms_base/modules/custom/ecms_languages/src/LanguageNegotiationSessionFix.php
  ecms_base/modules/custom/ecms_languages/tests/src/Unit/LanguageNegotiationSessionFixTest.php
Labels: drupal, php

#113 Promotion Reference paragraph, Global Notification rework, Logo preprocessing
  CHANGELOG.md
  composer.json
  ecms_base/config/install/extlink.settings.yml
  ecms_base/features/custom/ecms_basic_page/config/install/core.entity_view_display.node.basic_page.default.yml
  ecms_base/features/custom/ecms_press_release/config/install/views.view.press_releases.yml
  ecms_base/features/custom/ecms_promotions/config/install/core.entity_form_display.paragraph.promotion_reference.default.yml
  ecms_base/features/custom/ecms_promotions/config/install/core.entity_view_display.paragraph.promotion_reference.default.yml
  ecms_base/features/custom/ecms_promotions/config/install/field.field.paragraph.promotion_reference.field_promotion.yml
  ecms_base/features/custom/ecms_promotions/config/install/field.storage.paragraph.field_promotion.yml
  ecms_base/features/custom/ecms_promotions/config/install/paragraphs.paragraphs_type.promotion_reference.yml
  ecms_base/features/custom/ecms_promotions/config/install/views.view.promotions.yml
  ecms_base/modules/custom/ecms_blocks/src/Plugin/Block/PromotionsGlobalBlock.php
  ecms_base/themes/custom/ecms/config/optional/block.block.promotionsglobal.yml
  ecms_base/themes/custom/ecms/ecms.theme
  ecms_base/themes/custom/ecms/templates/blocks/block--promotionsglobal.html.twig
  ecms_base/themes/custom/ecms/templates/navigation/pager.html.twig
  ecms_base/themes/custom/ecms/templates/paragraphs/paragraph--media-item.html.twig
  ecms_base/themes/custom/ecms/templates/views/views-view--press-releases--page_1.html.twig
Labels: approved, configuration, drupal, php, twig, yml

#114 Prepare the changelog for 0.2.1
  CHANGELOG.md
Labels: release

#115 Fix session language detection for all entities.
  CHANGELOG.md
  ecms_base/modules/custom/ecms_api_publisher/tests/src/Functional/PublisherInstallTest.php
  ecms_base/modules/custom/ecms_languages/src/LanguageNegotiationSessionFix.php
  ecms_base/modules/custom/ecms_languages/tests/src/Unit/LanguageNegotiationSessionFixTest.php
Labels: approved, drupal, php

#116 Finalize scheduled transitions automation, remove unused modules
  CHANGELOG.md
  composer.json
  docs/development.md
  ecms_base/config/install/disable_language.settings.yml
  ecms_base/features/custom/ecms_basic_page/config/install/core.entity_form_display.node.basic_page.default.yml
  ecms_base/features/custom/ecms_basic_page/config/install/node.type.basic_page.yml
  ecms_base/features/custom/ecms_basic_page/ecms_basic_page.info.yml
  ecms_base/features/custom/ecms_event/config/install/core.entity_form_display.node.event.default.yml
  ecms_base/features/custom/ecms_event/config/install/node.type.event.yml
  ecms_base/features/custom/ecms_event/ecms_event.info.yml
  ecms_base/features/custom/ecms_executive_orders/config/install/core.entity_form_display.node.executive_order.default.yml
  ecms_base/features/custom/ecms_executive_orders/config/install/node.type.executive_order.yml
  ecms_base/features/custom/ecms_executive_orders/ecms_executive_orders.info.yml
  ecms_base/features/custom/ecms_hotel/config/install/core.entity_form_display.node.hotel.default.yml
  ecms_base/features/custom/ecms_hotel/config/install/node.type.hotel.yml
  ecms_base/features/custom/ecms_hotel/ecms_hotel.info.yml
  ecms_base/features/custom/ecms_landing_page/config/install/core.entity_form_display.node.landing_page.default.yml
  ecms_base/features/custom/ecms_landing_page/config/install/node.type.landing_page.yml
  ecms_base/features/custom/ecms_landing_page/ecms_landing_page.info.yml
  ecms_base/features/custom/ecms_location/config/install/core.entity_form_display.node.location.default.yml
  ecms_base/features/custom/ecms_location/config/install/node.type.location.yml
  ecms_base/features/custom/ecms_location/ecms_location.info.yml
  ecms_base/features/custom/ecms_person/config/install/core.entity_form_display.node.person.default.yml
  ecms_base/features/custom/ecms_person/config/install/node.type.person.yml
  ecms_base/features/custom/ecms_person/ecms_person.info.yml
  ecms_base/features/custom/ecms_press_release/config/install/core.entity_form_display.node.press_release.default.yml
  ecms_base/features/custom/ecms_press_release/config/install/node.type.press_release.yml
  ecms_base/features/custom/ecms_press_release/ecms_press_release.info.yml
  ecms_base/features/custom/ecms_projects/config/install/core.entity_form_display.node.project.default.yml
  ecms_base/features/custom/ecms_projects/config/install/node.type.project.yml
  ecms_base/features/custom/ecms_projects/ecms_projects.info.yml
  ecms_base/features/custom/ecms_promotions/config/install/core.entity_form_display.node.promotions.default.yml
  ecms_base/features/custom/ecms_promotions/config/install/node.type.promotions.yml
  ecms_base/features/custom/ecms_promotions/ecms_promotions.info.yml
  ecms_base/features/custom/ecms_publications/config/install/core.entity_form_display.node.publication.default.yml
  ecms_base/features/custom/ecms_publications/config/install/node.type.publication.yml
  ecms_base/features/custom/ecms_publications/ecms_publications.info.yml
  ecms_base/features/custom/ecms_speeches/config/install/core.entity_form_display.node.speech.default.yml
  ecms_base/features/custom/ecms_speeches/config/install/node.type.speech.yml
  ecms_base/features/custom/ecms_speeches/ecms_speeches.info.yml
  ecms_base/modules/custom/ecms_workflow/ecms_workflow.services.yml
  ecms_base/modules/custom/ecms_workflow/src/EcmsWorkflowBundleCreate.php
  ecms_base/modules/custom/ecms_workflow/tests/src/Unit/EcmsWorkflowBundleCreateTest.php
Labels: approved, configuration, json, php, yml

#119 Fix the language interface detection to only apply to entity forms.
  CHANGELOG.md
  ecms_base/modules/custom/ecms_languages/src/LanguageNegotiationSessionFix.php
  ecms_base/modules/custom/ecms_languages/tests/src/Unit/LanguageNegotiationSessionFixTest.php
Labels: drupal, php

#120 Change path aliases to be language neutral
  CHANGELOG.md
  composer.json
  ecms_base/modules/custom/ecms_languages/ecms_languages.info.yml
  ecms_base/modules/custom/ecms_languages/ecms_languages.install
  ecms_base/modules/custom/ecms_languages/ecms_languages.module
Labels: configuration, drupal, php

#121 Added label to notification teasers.
  CHANGELOG.md
  ecms_base/themes/custom/ecms/templates/content/node--notification--teaser.html.twig
Labels: approved, twig

#123 Add database search index
  CHANGELOG.md
  composer.json
  ecms_base/config/install/search_api.index.database.yml
  ecms_base/config/install/search_api.server.database.yml
  ecms_base/config/install/search_api.settings.yml
  ecms_base/config/install/search_api_db.settings.yml
  ecms_base/config/install/views.view.site_search.yml
  ecms_base/ecms_base.info.yml
Labels: configuration, drupal, json, yml

#124 Add basic page and file migrations
  CHANGELOG.md
  composer.json
  ecms_base/modules/custom/ecms_migration/README.md
  ecms_base/modules/custom/ecms_migration/config/install/ecms_migration.migrations.yml
  ecms_base/modules/custom/ecms_migration/config/install/ecms_migration.settings.yml
  ecms_base/modules/custom/ecms_migration/config/install/migrate_plus.migration.ecms_basic_page.yml
  ecms_base/modules/custom/ecms_migration/config/install/migrate_plus.migration.ecms_basic_page_url.yml
  ecms_base/modules/custom/ecms_migration/config/install/migrate_plus.migration.ecms_file.yml
  ecms_base/modules/custom/ecms_migration/config/install/migrate_plus.migration.ecms_file_media.yml
  ecms_base/modules/custom/ecms_migration/config/install/migrate_plus.migration.ecms_file_redirect.yml
  ecms_base/modules/custom/ecms_migration/config/install/migrate_plus.migration_group.ecms.yml
  ecms_base/modules/custom/ecms_migration/config/schema/ecms_migration.schema.yml
  ecms_base/modules/custom/ecms_migration/ecms_migration.info.yml
  ecms_base/modules/custom/ecms_migration/ecms_migration.links.action.yml
  ecms_base/modules/custom/ecms_migration/ecms_migration.links.menu.yml
  ecms_base/modules/custom/ecms_migration/ecms_migration.module
  ecms_base/modules/custom/ecms_migration/ecms_migration.routing.yml
  ecms_base/modules/custom/ecms_migration/src/Form/EcmsMigrationConfigForm.php
  ecms_base/modules/custom/ecms_migration/tests/src/Unit/Form/EcmsMigrationConfigFormTest.php
  scripts/ci-develop.sh
  scripts/develop.sh
Labels: configuration, drupal, php

#126 Add audio media type
  .github/workflows/develop.yml
  CHANGELOG.md
  ecms_base/ecms_base.profile
  ecms_base/features/custom/ecms_paragraphs/config/install/core.entity_form_display.media.media_item_audio.default.yml
  ecms_base/features/custom/ecms_paragraphs/config/install/core.entity_form_display.media.media_item_audio.media_library.yml
  ecms_base/features/custom/ecms_paragraphs/config/install/core.entity_form_display.paragraph.media_item.default.yml
  ecms_base/features/custom/ecms_paragraphs/config/install/core.entity_view_display.media.media_item_audio.default.yml
  ecms_base/features/custom/ecms_paragraphs/config/install/core.entity_view_display.media.media_item_audio.media_library.yml
  ecms_base/features/custom/ecms_paragraphs/config/install/core.entity_view_display.paragraph.media_item.default.yml
  ecms_base/features/custom/ecms_paragraphs/config/install/field.field.media.media_item_audio.field_media_item_audio_file.yml
  ecms_base/features/custom/ecms_paragraphs/config/install/field.field.paragraph.media_item.field_media_item.yml
  ecms_base/features/custom/ecms_paragraphs/config/install/field.storage.media.field_media_item_audio_file.yml
  ecms_base/features/custom/ecms_paragraphs/config/install/language.content_settings.media.media_item_audio.yml
  ecms_base/features/custom/ecms_paragraphs/config/install/media.type.media_item_audio.yml
Labels: configuration, drupal

#128 Add Text Card Collection and Page Title with Photo
  CHANGELOG.md
  ecms_base/config/install/user.role.anonymous.yml
  ecms_base/features/custom/ecms_landing_page/config/install/block_content.type.content_components.yml
  ecms_base/features/custom/ecms_landing_page/config/install/block_content.type.page_title_with_photo.yml
  ecms_base/features/custom/ecms_landing_page/config/install/block_content.type.text_card_collection.yml
  ecms_base/features/custom/ecms_landing_page/config/install/core.entity_view_display.block_content.page_title_with_photo.default.yml
  ecms_base/features/custom/ecms_landing_page/config/install/core.entity_view_display.block_content.text_card_collection.default.yml
  ecms_base/features/custom/ecms_landing_page/config/install/field.field.block_content.page_title_with_photo.field_image.yml
  ecms_base/features/custom/ecms_landing_page/config/install/field.field.block_content.text_card_collection.field_cards.yml
  ecms_base/features/custom/ecms_landing_page/config/install/field.field.block_content.text_card_collection.field_collection_card_style.yml
  ecms_base/features/custom/ecms_landing_page/config/install/field.field.block_content.text_card_collection.field_collection_description.yml
  ecms_base/features/custom/ecms_landing_page/config/install/field.storage.block_content.field_cards.yml
  ecms_base/features/custom/ecms_landing_page/config/install/field.storage.block_content.field_collection_card_style.yml
  ecms_base/features/custom/ecms_landing_page/config/install/field.storage.block_content.field_collection_description.yml
  ecms_base/features/custom/ecms_landing_page/config/install/field.storage.block_content.field_image.yml
  ecms_base/features/custom/ecms_landing_page/config/install/language.content_settings.block_content.text_card_collection.yml
  ecms_base/features/custom/ecms_landing_page/ecms_landing_page.info.yml
  ecms_base/features/custom/ecms_paragraphs/config/install/core.entity_form_display.paragraph.text_card.default.yml
  ecms_base/features/custom/ecms_paragraphs/config/install/core.entity_view_display.paragraph.text_card.default.yml
  ecms_base/features/custom/ecms_paragraphs/config/install/field.field.paragraph.text_card.field_card_title.yml
  ecms_base/features/custom/ecms_paragraphs/config/install/field.field.paragraph.text_card.field_text.yml
  ecms_base/features/custom/ecms_paragraphs/config/install/field.storage.paragraph.field_card_title.yml
  ecms_base/features/custom/ecms_paragraphs/config/install/paragraphs.paragraphs_type.text_card.yml
  ecms_base/modules/custom/ecms_blocks/src/Form/SearchBlockForm.php
  ecms_base/themes/custom/ecms/templates/blocks/block--inline-block--page-title-with-photo.html.twig
  ecms_base/themes/custom/ecms/templates/blocks/block--inline-block--text-card-collection.html.twig
  ecms_base/themes/custom/ecms/templates/fields/field--field-collection-description.html.twig
  ecms_base/themes/custom/ecms/templates/fields/field--paragraph--field-text--text-card.html.twig
  ecms_base/themes/custom/ecms/templates/paragraphs/paragraph--text-card.html.twig
Labels: approved, configuration, drupal, php, twig, yml

#129 Prepare changelog for 0.2.4
  CHANGELOG.md
Labels: release

#131 Add current language fiter to search view
  CHANGELOG.md
  ecms_base/config/install/views.view.site_search.yml
Labels: configuration, drupal
