Repository State-of-Rhode-Island-eCMS/ecms_profile, pull requests merged in 2020-10, with the labels that each got.

#34 Automate site registration to the hub on installation
  CHANGELOG.md
  ecms_base/modules/custom/ecms_api/src/EcmsApiBase.php
  ecms_base/modules/custom/ecms_api/tests/src/Unit/EcmsApiBaseTest.php
  ecms_base/modules/custom/ecms_api_publisher/src/EcmsApiSiteAccessControlHandler.php
  ecms_base/modules/custom/ecms_api_recipient/README.md
  ecms_base/modules/custom/ecms_api_recipient/config/install/ecms_api_recipient.settings.yml
  ecms_base/modules/custom/ecms_api_recipient/config/schema/ecms_api_recipient.schema.yml
  ecms_base/modules/custom/ecms_api_recipient/ecms_api_recipient.install
  ecms_base/modules/custom/ecms_api_recipient/ecms_api_recipient.services.yml
  ecms_base/modules/custom/ecms_api_recipient/src/EcmsApiRecipientRegister.php
  ecms_base/modules/custom/ecms_api_recipient/src/EcmsApiRecipientUninstall.php
  ecms_base/modules/custom/ecms_api_recipient/tests/src/Unit/EcmsApiRecipientRegisterTest.php
  ecms_base/modules/custom/ecms_api_recipient/tests/src/Unit/EcmsApiRecipientUninstallTest.php
Labels: documentation, drupal, php

#29 Add hotel content type as feature
  CHANGELOG.md
  ecms_base/features/custom/ecms_hotel/config/install/core.base_field_override.node.hotel.promote.yml
  ecms_base/features/custom/ecms_hotel/config/install/core.entity_form_display.media.hotel_image.default.yml
  ecms_base/features/custom/ecms_hotel/config/install/core.entity_form_display.media.hotel_image.media_library.yml
  ecms_base/features/custom/ecms_hotel/config/install/core.entity_form_display.node.hotel.default.yml
  ecms_base/features/custom/ecms_hotel/config/install/core.entity_view_display.media.hotel_image.default.yml
  ecms_base/features/custom/ecms_hotel/config/install/core.entity_view_display.media.hotel_image.media_library.yml
  ecms_base/features/custom/ecms_hotel/config/install/core.entity_view_display.node.hotel.default.yml
  ecms_base/features/custom/ecms_hotel/config/install/core.entity_view_display.node.hotel.teaser.yml
  ecms_base/features/custom/ecms_hotel/config/install/field.field.media.hotel_image.field_hotel_image.yml
  ecms_base/features/custom/ecms_hotel/config/install/field.field.node.hotel.field_hotel_address.yml
  ecms_base/features/custom/ecms_hotel/config/install/field.field.node.hotel.field_hotel_body.yml
  ecms_base/features/custom/ecms_hotel/config/install/field.field.node.hotel.field_hotel_booking_notes.yml
  ecms_base/features/custom/ecms_hotel/config/install/field.field.node.hotel.field_hotel_booking_url.yml
  ecms_base/features/custom/ecms_hotel/config/install/field.field.node.hotel.field_hotel_cover_image.yml
  ecms_base/features/custom/ecms_hotel/config/install/field.field.node.hotel.field_hotel_main_image.yml
  ecms_base/features/custom/ecms_hotel/config/install/field.field.node.hotel.field_hotel_more_info_url.yml
  ecms_base/features/custom/ecms_hotel/config/install/field.field.node.hotel.field_hotel_phone.yml
  ecms_base/features/custom/ecms_hotel/config/install/field.field.node.hotel.field_hotel_rate.yml
  ecms_base/features/custom/ecms_hotel/config/install/field.field.node.hotel.field_hotel_rate_amount.yml
  ecms_base/features/custom/ecms_hotel/config/install/field.storage.media.field_hotel_image.yml
  ecms_base/features/custom/ecms_hotel/config/install/field.storage.node.field_hotel_address.yml
  ecms_base/features/custom/ecms_hotel/config/install/field.storage.node.field_hotel_body.yml
  ecms_base/features/custom/ecms_hotel/config/install/field.storage.node.field_hotel_booking_notes.yml
  ecms_base/features/custom/ecms_hotel/config/install/field.storage.node.field_hotel_booking_url.yml
  ecms_base/features/custom/ecms_hotel/config/install/field.storage.node.field_hotel_cover_image.yml
  ecms_base/features/custom/ecms_hotel/config/install/field.storage.node.field_hotel_main_image.yml
  ecms_base/features/custom/ecms_hotel/config/install/field.storage.node.field_hotel_more_info_url.yml
  ecms_base/features/custom/ecms_hotel/config/install/field.storage.node.field_hotel_phone.yml
  ecms_base/features/custom/ecms_hotel/config/install/field.storage.node.field_hotel_rate.yml
  ecms_base/features/custom/ecms_hotel/config/install/field.storage.node.field_hotel_rate_amount.yml
  ecms_base/features/custom/ecms_hotel/config/install/media.type.hotel_image.yml
  ecms_base/features/custom/ecms_hotel/config/install/node.type.hotel.yml
  ecms_base/features/custom/ecms_hotel/ecms_hotel.features.yml
  ecms_base/features/custom/ecms_hotel/ecms_hotel.info.yml
  ecms_base/features/custom/ecms_hotel/tests/src/Functional/EcmsHotelInstallTest.php
Labels: approved, configuration, documentation, php

#37 Update webform to alpha19
  composer.json
Labels: approved, drupal, json

#39 Update the ecms_api_recipient installation configuration
  CHANGELOG.md
  ecms_base/modules/custom/ecms_api_recipient/config/install/ecms_api_recipient.settings.yml
  ecms_base/modules/custom/ecms_api_recipient/config/install/user.role.ecms_api_recipient.yml
  ecms_base/modules/custom/ecms_api_recipient/ecms_api_recipient.info.yml
  ecms_base/modules/custom/ecms_api_recipient/src/Form/EcmsApiRecipientConfigForm.php
  ecms_base/modules/custom/ecms_api_recipient/tests/src/Functional/InstallationTest.php
  ecms_base/modules/custom/ecms_api_recipient/tests/src/Unit/Form/EcmsApiRecipientConfigFormTest.php
Labels: approved, configuration, drupal, php

#38 Add functionality to post content to recipient sites
  CHANGELOG.md
  ecms_base/ecms_base.install
  ecms_base/modules/custom/ecms_api/ecms_api.install
  ecms_base/modules/custom/ecms_api_publisher/README.md
  ecms_base/modules/custom/ecms_api_publisher/config/install/ecms_api_publisher.settings.yml
  ecms_base/modules/custom/ecms_api_publisher/config/schema/ecms_api_publisher.schema.yml
  ecms_base/modules/custom/ecms_api_publisher/ecms_api_publisher.install
  ecms_base/modules/custom/ecms_api_publisher/ecms_api_publisher.module
  ecms_base/modules/custom/ecms_api_publisher/ecms_api_publisher.permissions.yml
  ecms_base/modules/custom/ecms_api_publisher/ecms_api_publisher.routing.yml
  ecms_base/modules/custom/ecms_api_publisher/ecms_api_publisher.services.yml
  ecms_base/modules/custom/ecms_api_publisher/src/EcmsApiPublisher.php
  ecms_base/modules/custom/ecms_api_publisher/src/EcmsApiSyndicate.php
  ecms_base/modules/custom/ecms_api_publisher/src/Form/EcmsApiBatchSendUpdatesForm.php
  ecms_base/modules/custom/ecms_api_publisher/src/Plugin/QueueWorker/EcmsApiSyndicateQueueWorker.php
  ecms_base/modules/custom/ecms_api_publisher/tests/src/Unit/EcmsApiPublisherTest.php
  ecms_base/modules/custom/ecms_api_publisher/tests/src/Unit/EcmsApiSyndicateTest.php
  ecms_base/modules/custom/ecms_api_publisher/tests/src/Unit/Form/EcmsApiBatchSendUpdateFormTest.php
  ecms_base/modules/custom/ecms_api_publisher/tests/src/Unit/Plugin/QueueWorker/EcmsApiSyndicateQueueWorkerTest.php
  ecms_base/modules/custom/ecms_api_recipient/ecms_api_recipient.install
  ecms_base/modules/custom/ecms_authentication/ecms_authentication.module
  ecms_base/modules/custom/ecms_workflow/ecms_workflow.module
  phpcs.xml
  phpunit.xml
Labels: documentation, drupal, php

#40 Install layout builder and begin work on eCMS Layout
  .editorconfig
  ecms_base/ecms_base.info.yml
  ecms_base/modules/custom/ecms_layout/ecms_layout.info.yml
  ecms_base/modules/custom/ecms_layout/ecms_layout.layouts.yml
  ecms_base/modules/custom/ecms_layout/ecms_layout.module
  ecms_base/modules/custom/ecms_layout/ecms_layout.permissions.yml
  ecms_base/modules/custom/ecms_layout/layouts/layout--four-column.html.twig
  ecms_base/modules/custom/ecms_layout/layouts/layout--one-column.html.twig
  ecms_base/modules/custom/ecms_layout/layouts/layout--three-column.html.twig
  ecms_base/modules/custom/ecms_layout/layouts/layout--two-column.html.twig
  ecms_base/modules/custom/ecms_layout/src/EcmsLayout.php
  ecms_base/modules/custom/ecms_layout/src/Plugin/Layout/FourColumnLayout.php
  ecms_base/modules/custom/ecms_layout/src/Plugin/Layout/LayoutBase.php
  ecms_base/modules/custom/ecms_layout/src/Plugin/Layout/OneColumnLayout.php
  ecms_base/modules/custom/ecms_layout/src/Plugin/Layout/ThreeColumnLayout.php
  ecms_base/modules/custom/ecms_layout/src/Plugin/Layout/TwoColumnLayout.php
  ecms_base/themes/custom/ecms/ecms.libraries.yml
Labels: approved, configuration, drupal, php, yml

#44 Configure layout options
  ecms_base/config/install/block.block.tabs.yml
  ecms_base/modules/custom/ecms_layout/layouts/layout--four-column.html.twig
  ecms_base/modules/custom/ecms_layout/layouts/layout--one-column.html.twig
  ecms_base/modules/custom/ecms_layout/layouts/layout--three-column.html.twig
  ecms_base/modules/custom/ecms_layout/layouts/layout--two-column.html.twig
  ecms_base/modules/custom/ecms_layout/src/EcmsLayout.php
  ecms_base/modules/custom/ecms_layout/src/Plugin/Layout/FourColumnLayout.php
  ecms_base/modules/custom/ecms_layout/src/Plugin/Layout/LayoutBase.php
  ecms_base/modules/custom/ecms_layout/src/Plugin/Layout/ThreeColumnLayout.php
  ecms_base/themes/custom/ecms/ecms.libraries.yml
  ecms_base/themes/custom/ecms/ecms.theme
  ecms_base/themes/custom/ecms/templates/layout/layout--four-column.html.twig
  ecms_base/themes/custom/ecms/templates/layout/layout--one-column.html.twig
  ecms_base/themes/custom/ecms/templates/layout/layout--three-column.html.twig
  ecms_base/themes/custom/ecms/templates/layout/layout--two-column.html.twig
  ecms_base/themes/custom/ecms/templates/layout/page--landing-page.html.twig
Labels: configuration, drupal, php, twig

#42 Add base paragraph feature, update basic page content type
  CHANGELOG.md
  composer.json
  ecms_base/ecms_base.info.yml
  ecms_base/features/custom/ecms_basic_page/config/install/core.entity_form_display.node.basic_page.default.yml
  ecms_base/features/custom/ecms_basic_page/config/install/core.entity_view_display.node.basic_page.default.yml
  ecms_base/features/custom/ecms_basic_page/config/install/core.entity_view_display.node.basic_page.teaser.yml
  ecms_base/features/custom/ecms_basic_page/config/install/field.field.node.basic_page.field_basic_page_paragraphs.yml
  ecms_base/features/custom/ecms_basic_page/config/install/field.storage.node.field_basic_page_paragraphs.yml
  ecms_base/features/custom/ecms_basic_page/ecms_basic_page.info.yml
  ecms_base/features/custom/ecms_paragraphs/config/install/core.entity_form_display.paragraph.formatted_text.default.yml
  ecms_base/features/custom/ecms_paragraphs/config/install/core.entity_view_display.paragraph.formatted_text.default.yml
  ecms_base/features/custom/ecms_paragraphs/config/install/editor.editor.paragraph_text.yml
  ecms_base/features/custom/ecms_paragraphs/config/install/field.field.paragraph.formatted_text.field_text.yml
  ecms_base/features/custom/ecms_paragraphs/config/install/field.storage.paragraph.field_text.yml
  ecms_base/features/custom/ecms_paragraphs/config/install/filter.format.paragraph_text.yml
  ecms_base/features/custom/ecms_paragraphs/config/install/paragraphs.paragraphs_type.formatted_text.yml
  ecms_base/features/custom/ecms_paragraphs/ecms_paragraphs.features.yml
  ecms_base/features/custom/ecms_paragraphs/ecms_paragraphs.info.yml
Labels: configuration, drupal, json, yml

#43 Fixed the build error
  ecms_base/features/custom/ecms_executive_orders/tests/src/Functional/EcmsExecutiveOrdersInstallTest.php
  ecms_base/features/custom/ecms_hotel/tests/src/Functional/EcmsHotelInstallTest.php
  ecms_base/features/custom/ecms_projects/tests/src/Functional/EcmsProjectsInstallTest.php
  ecms_base/features/custom/ecms_publications/tests/src/Functional/EcmsPublicationsInstallTest.php
  ecms_base/features/custom/ecms_speeches/tests/src/Functional/EcmsSpeechesInstallTest.php
  ecms_base/modules/custom/ecms_api/src/EcmsApiBase.php
  ecms_base/modules/custom/ecms_api/src/EcmsApiInstall.php
  ecms_base/modules/custom/ecms_api/tests/src/Unit/EcmsApiBaseTest.php
  ecms_base/modules/custom/ecms_api/tests/src/Unit/EcmsApiInstallTest.php
  ecms_base/modules/custom/ecms_api_publisher/src/EcmsApiPublisher.php
  ecms_base/modules/custom/ecms_api_publisher/src/EcmsApiPublisherInstall.php
  ecms_base/modules/custom/ecms_api_publisher/src/EcmsApiSiteListBuilder.php
  ecms_base/modules/custom/ecms_api_publisher/src/EcmsApiSyndicate.php
  ecms_base/modules/custom/ecms_api_publisher/src/Form/EcmsApiBatchSendUpdatesForm.php
  ecms_base/modules/custom/ecms_api_publisher/tests/src/Functional/InstallationTest.php
  ecms_base/modules/custom/ecms_api_publisher/tests/src/Functional/PublisherInstallTest.php
  ecms_base/modules/custom/ecms_api_publisher/tests/src/Unit/EcmsApiPublisherInstallTest.php
  ecms_base/modules/custom/ecms_api_publisher/tests/src/Unit/EcmsApiPublisherTest.php
  ecms_base/modules/custom/ecms_api_publisher/tests/src/Unit/EcmsApiSyndicateTest.php
  ecms_base/modules/custom/ecms_api_publisher/tests/src/Unit/Entity/EcmsApiSiteTest.php
  ecms_base/modules/custom/ecms_api_publisher/tests/src/Unit/Form/EcmsApiBatchSendUpdateFormTest.php
  ecms_base/modules/custom/ecms_api_publisher/tests/src/Unit/Plugin/QueueWorker/EcmsApiSyndicateQueueWorkerTest.php
  ecms_base/modules/custom/ecms_api_recipient/src/EcmsApiRecipientInstall.php
  ecms_base/modules/custom/ecms_api_recipient/src/EcmsApiRecipientRegister.php
  ecms_base/modules/custom/ecms_api_recipient/src/EcmsApiRecipientUninstall.php
  ecms_base/modules/custom/ecms_api_recipient/src/Form/EcmsApiRecipientConfigForm.php
  ecms_base/modules/custom/ecms_api_recipient/tests/src/Functional/InstallationTest.php
  ecms_base/modules/custom/ecms_api_recipient/tests/src/Unit/EcmsApiRecipientInstallTest.php
  ecms_base/modules/custom/ecms_api_recipient/tests/src/Unit/EcmsApiRecipientRegisterTest.php
  ecms_base/modules/custom/ecms_api_recipient/tests/src/Unit/EcmsApiRecipientUninstallTest.php
  ecms_base/modules/custom/ecms_api_recipient/tests/src/Unit/Form/EcmsApiRecipientConfigFormTest.php
  ecms_base/modules/custom/ecms_authentication/src/EcmsUserAuthentication.php
  ecms_base/modules/custom/ecms_authentication/tests/src/Unit/EcmsUserAuthenticationTest.php
  ecms_base/modules/custom/ecms_workflow/src/EcmsWorkflowBundleCreate.php
  ecms_base/modules/custom/ecms_workflow/tests/src/Functional/InstallationTest.php
  scripts/develop.sh
Labels: approved, bash

#41 Add webform node to base install, auto create node on new form
  CHANGELOG.md
  ecms_acquia/tests/src/Functional/InstallationTest.php
  ecms_base/ecms_base.info.yml
  ecms_base/features/custom/ecms_executive_orders/tests/src/Functional/EcmsExecutiveOrdersInstallTest.php
  ecms_base/features/custom/ecms_hotel/tests/src/Functional/EcmsHotelInstallTest.php
  ecms_base/features/custom/ecms_projects/tests/src/Functional/EcmsProjectsInstallTest.php
  ecms_base/features/custom/ecms_publications/tests/src/Functional/EcmsPublicationsInstallTest.php
  ecms_base/features/custom/ecms_speeches/tests/src/Functional/EcmsSpeechesInstallTest.php
  ecms_base/modules/custom/ecms_api/tests/src/Functional/InstallationTest.php
  ecms_base/modules/custom/ecms_workflow/ecms_workflow.module
  ecms_base/tests/src/Functional/InstallationTest.php
  ecms_base/themes/custom/ecms/config/optional/block.block.tabs.yml
  tests/src/Functional/AllProfileInstallationTestsAbstract.php
Labels: configuration, drupal, php

#46 Add config for Media Item and File List paragraph types
  ecms_base/features/custom/ecms_paragraphs/config/install/core.entity_form_display.media.file.default.yml
  ecms_base/features/custom/ecms_paragraphs/config/install/core.entity_form_display.media.file.media_library.yml
  ecms_base/features/custom/ecms_paragraphs/config/install/core.entity_form_display.media.media_item_image.default.yml
  ecms_base/features/custom/ecms_paragraphs/config/install/core.entity_form_display.media.media_item_video.default.yml
  ecms_base/features/custom/ecms_paragraphs/config/install/core.entity_form_display.paragraph.file_list.default.yml
  ecms_base/features/custom/ecms_paragraphs/config/install/core.entity_form_display.paragraph.media_item.default.yml
  ecms_base/features/custom/ecms_paragraphs/config/install/core.entity_view_display.media.file.default.yml
  ecms_base/features/custom/ecms_paragraphs/config/install/core.entity_view_display.media.file.media_library.yml
  ecms_base/features/custom/ecms_paragraphs/config/install/core.entity_view_display.media.media_item_image.default.yml
  ecms_base/features/custom/ecms_paragraphs/config/install/core.entity_view_display.media.media_item_image.media_library.yml
  ecms_base/features/custom/ecms_paragraphs/config/install/core.entity_view_display.media.media_item_video.default.yml
  ecms_base/features/custom/ecms_paragraphs/config/install/core.entity_view_display.media.media_item_video.media_library.yml
  ecms_base/features/custom/ecms_paragraphs/config/install/core.entity_view_display.paragraph.file_list.default.yml
  ecms_base/features/custom/ecms_paragraphs/config/install/core.entity_view_display.paragraph.media_item.default.yml
  ecms_base/features/custom/ecms_paragraphs/config/install/field.field.media.file.field_file.yml
  ecms_base/features/custom/ecms_paragraphs/config/install/field.field.media.file.field_file_size.yml
  ecms_base/features/custom/ecms_paragraphs/config/install/field.field.media.file.field_file_title.yml
  ecms_base/features/custom/ecms_paragraphs/config/install/field.field.media.file.field_file_type.yml
  ecms_base/features/custom/ecms_paragraphs/config/install/field.field.media.media_item_image.field_media_item_image.yml
  ecms_base/features/custom/ecms_paragraphs/config/install/field.field.media.media_item_video.field_media_item_video_url.yml
  ecms_base/features/custom/ecms_paragraphs/config/install/field.field.paragraph.file_list.field_files.yml
  ecms_base/features/custom/ecms_paragraphs/config/install/field.field.paragraph.file_list.field_list_title.yml
  ecms_base/features/custom/ecms_paragraphs/config/install/field.field.paragraph.media_item.field_alignment.yml
  ecms_base/features/custom/ecms_paragraphs/config/install/field.field.paragraph.media_item.field_caption.yml
  ecms_base/features/custom/ecms_paragraphs/config/install/field.field.paragraph.media_item.field_media_item.yml
  ecms_base/features/custom/ecms_paragraphs/config/install/field.field.paragraph.media_item.field_size.yml
  ecms_base/features/custom/ecms_paragraphs/config/install/field.storage.media.field_file.yml
  ecms_base/features/custom/ecms_paragraphs/config/install/field.storage.media.field_file_size.yml
  ecms_base/features/custom/ecms_paragraphs/config/install/field.storage.media.field_file_title.yml
  ecms_base/features/custom/ecms_paragraphs/config/install/field.storage.media.field_file_type.yml
  ecms_base/features/custom/ecms_paragraphs/config/install/field.storage.media.field_media_item_image.yml
  ecms_base/features/custom/ecms_paragraphs/config/install/field.storage.media.field_media_item_video_url.yml
  ecms_base/features/custom/ecms_paragraphs/config/install/field.storage.paragraph.field_alignment.yml
  ecms_base/features/custom/ecms_paragraphs/config/install/field.storage.paragraph.field_caption.yml
  ecms_base/features/custom/ecms_paragraphs/config/install/field.storage.paragraph.field_files.yml
  ecms_base/features/custom/ecms_paragraphs/config/install/field.storage.paragraph.field_list_title.yml
  ecms_base/features/custom/ecms_paragraphs/config/install/field.storage.paragraph.field_media_item.yml
  ecms_base/features/custom/ecms_paragraphs/config/install/field.storage.paragraph.field_size.yml
  ecms_base/features/custom/ecms_paragraphs/config/install/media.type.file.yml
  ecms_base/features/custom/ecms_paragraphs/config/install/media.type.media_item_image.yml
  ecms_base/features/custom/ecms_paragraphs/config/install/media.type.media_item_video.yml
  ecms_base/features/custom/ecms_paragraphs/config/install/paragraphs.paragraphs_type.file_list.yml
  ecms_base/features/custom/ecms_paragraphs/config/install/paragraphs.paragraphs_type.media_item.yml
  ecms_base/features/custom/ecms_paragraphs/ecms_paragraphs.info.yml
Labels: configuration, drupal, yml

#49 Update workflow test to ExistingSite
  ecms_base/modules/custom/ecms_workflow/tests/src/ExistingSite/InstallationTest.php
  ecms_base/modules/custom/ecms_workflow/tests/src/Functional/InstallationTest.php
Labels: approved, php

#50 Add translation support to the executive order content type
  CHANGELOG.md
  ecms_base/features/custom/ecms_executive_orders/config/install/core.base_field_override.media.executive_order_pdf.changed.yml
  ecms_base/features/custom/ecms_executive_orders/config/install/core.base_field_override.media.executive_order_pdf.created.yml
  ecms_base/features/custom/ecms_executive_orders/config/install/core.base_field_override.media.executive_order_pdf.path.yml
  ecms_base/features/custom/ecms_executive_orders/config/install/core.base_field_override.media.executive_order_pdf.status.yml
  ecms_base/features/custom/ecms_executive_orders/config/install/core.base_field_override.media.executive_order_pdf.uid.yml
  ecms_base/features/custom/ecms_executive_orders/config/install/core.base_field_override.node.executive_order.changed.yml
  ecms_base/features/custom/ecms_executive_orders/config/install/core.base_field_override.node.executive_order.created.yml
  ecms_base/features/custom/ecms_executive_orders/config/install/core.base_field_override.node.executive_order.sticky.yml
  ecms_base/features/custom/ecms_executive_orders/config/install/core.base_field_override.node.executive_order.uid.yml
  ecms_base/features/custom/ecms_executive_orders/config/install/core.entity_form_display.media.executive_order_pdf.default.yml
  ecms_base/features/custom/ecms_executive_orders/config/install/core.entity_form_display.media.executive_order_pdf.media_library.yml
  ecms_base/features/custom/ecms_executive_orders/config/install/core.entity_form_display.node.executive_order.default.yml
  ecms_base/features/custom/ecms_executive_orders/config/install/core.entity_view_display.media.executive_order_pdf.default.yml
  ecms_base/features/custom/ecms_executive_orders/config/install/core.entity_view_display.media.executive_order_pdf.media_library.yml
  ecms_base/features/custom/ecms_executive_orders/config/install/core.entity_view_display.node.executive_order.default.yml
  ecms_base/features/custom/ecms_executive_orders/config/install/core.entity_view_display.node.executive_order.teaser.yml
  ecms_base/features/custom/ecms_executive_orders/config/install/field.field.node.executive_order.field_executive_order_long_title.yml
  ecms_base/features/custom/ecms_executive_orders/config/install/field.field.node.executive_order.field_executive_order_text.yml
  ecms_base/features/custom/ecms_executive_orders/config/install/language.content_settings.media.executive_order_pdf.yml
  ecms_base/features/custom/ecms_executive_orders/config/install/language.content_settings.node.executive_order.yml
  ecms_base/features/custom/ecms_executive_orders/config/install/rabbit_hole.behavior_settings.node_type_executive_order.yml
  ecms_base/features/custom/ecms_executive_orders/ecms_executive_orders.info.yml
  ecms_base/features/custom/ecms_executive_orders/tests/src/ExistingSite/EcmsExecutiveOrdersInstallTest.php
Labels: approved, configuration, drupal, php

#52 Update workflow test to include new content type
  ecms_base/modules/custom/ecms_workflow/tests/src/ExistingSite/InstallationTest.php
Labels: approved, drupal, php

#55 Add the moderated_content_bulk_publish module
  CHANGELOG.md
  composer.json
  ecms_base/ecms_base.info.yml
  ecms_base/features/custom/ecms_executive_orders/tests/src/ExistingSite/EcmsExecutiveOrdersInstallTest.php
  ecms_base/features/custom/ecms_hotel/tests/src/ExistingSite/EcmsHotelInstallTest.php
  ecms_base/features/custom/ecms_projects/tests/src/ExistingSite/EcmsProjectsInstallTest.php
  ecms_base/features/custom/ecms_publications/tests/src/ExistingSite/EcmsPublicationsInstallTest.php
  ecms_base/features/custom/ecms_speeches/tests/src/ExistingSite/EcmsSpeechesInstallTest.php
Labels: configuration, drupal, json

#58 Fix the language syndication for the Ecms API
  CHANGELOG.md
  composer.json
  ecms_base/modules/custom/ecms_api/src/EcmsApiBase.php
  ecms_base/modules/custom/ecms_api/tests/src/Unit/EcmsApiBaseTest.php
  ecms_base/modules/custom/ecms_api_publisher/ecms_api_publisher.module
  ecms_base/modules/custom/ecms_api_recipient/config/install/user.role.ecms_api_recipient.yml
  ecms_base/modules/custom/ecms_api_recipient/src/Form/EcmsApiRecipientConfigForm.php
  ecms_base/modules/custom/ecms_api_recipient/tests/src/ExistingSite/InstallationTest.php
  ecms_base/modules/custom/ecms_api_recipient/tests/src/Unit/Form/EcmsApiRecipientConfigFormTest.php
Labels: approved, drupal, php

#56 Create embed paragraph bundle
  ecms_base/features/custom/ecms_landing_page/config/install/core.entity_form_display.node.landing_page.default.yml
  ecms_base/features/custom/ecms_landing_page/config/install/core.entity_view_display.node.landing_page.default.yml
  ecms_base/features/custom/ecms_landing_page/config/install/core.entity_view_display.node.landing_page.full.yml
  ecms_base/features/custom/ecms_landing_page/config/install/core.entity_view_display.node.landing_page.teaser.yml
  ecms_base/features/custom/ecms_landing_page/config/install/field.field.node.landing_page.layout_builder__layout.yml
  ecms_base/features/custom/ecms_landing_page/config/install/field.storage.node.layout_builder__layout.yml
  ecms_base/features/custom/ecms_landing_page/ecms_landing_page.info.yml
  ecms_base/features/custom/ecms_paragraphs/config/install/core.entity_form_display.paragraph.embed.default.yml
  ecms_base/features/custom/ecms_paragraphs/config/install/core.entity_view_display.paragraph.embed.default.yml
  ecms_base/features/custom/ecms_paragraphs/config/install/field.field.paragraph.embed.field_embed_content.yml
  ecms_base/features/custom/ecms_paragraphs/config/install/field.storage.paragraph.field_embed_content.yml
  ecms_base/features/custom/ecms_paragraphs/config/install/filter.format.embed.yml
  ecms_base/features/custom/ecms_paragraphs/config/install/paragraphs.paragraphs_type.embed.yml
  ecms_base/features/custom/ecms_paragraphs/config/install/user.role.embed_author.yml
  ecms_base/features/custom/ecms_paragraphs/ecms_paragraphs.info.yml
  ecms_base/themes/custom/ecms/templates/layout/layout--four-column.html.twig
  ecms_base/themes/custom/ecms/templates/layout/layout--one-column.html.twig
  ecms_base/themes/custom/ecms/templates/layout/layout--three-column.html.twig
  ecms_base/themes/custom/ecms/templates/layout/layout--two-column.html.twig
Labels: approved, configuration, drupal, twig, yml

#60 Update the global notification workflow
  CHANGELOG.md
  ecms_base/modules/custom/ecms_api/src/EcmsApiBase.php
  ecms_base/modules/custom/ecms_api/tests/src/Unit/EcmsApiBaseTest.php
  ecms_base/modules/custom/ecms_api_notification_publisher/README.md
  ecms_base/modules/custom/ecms_api_notification_publisher/ecms_api_notification_publisher.info.yml
  ecms_base/modules/custom/ecms_api_notification_publisher/ecms_api_notification_publisher.module
  ecms_base/modules/custom/ecms_api_notification_publisher/ecms_api_notification_publisher.services.yml
  ecms_base/modules/custom/ecms_api_notification_publisher/src/NotificationPublisher.php
  ecms_base/modules/custom/ecms_api_notification_publisher/tests/src/Unit/NotificationPublisherTest.php
  ecms_base/modules/custom/ecms_api_publisher/config/install/user.role.ecms_api_publisher.yml
  ecms_base/modules/custom/ecms_api_publisher/ecms_api_publisher.info.yml
  ecms_base/modules/custom/ecms_api_publisher/ecms_api_publisher.module
  ecms_base/modules/custom/ecms_api_publisher/ecms_api_publisher.services.yml
  ecms_base/modules/custom/ecms_api_publisher/src/EcmsApiPublisher.php
  ecms_base/modules/custom/ecms_api_publisher/src/EcmsApiSyndicate.php
  ecms_base/modules/custom/ecms_api_publisher/src/Form/EcmsApiBatchSendUpdatesForm.php
  ecms_base/modules/custom/ecms_api_publisher/src/Plugin/QueueWorker/EcmsApiSyndicateQueueWorker.php
  ecms_base/modules/custom/ecms_api_publisher/tests/src/Functional/PublisherInstallTest.php
  ecms_base/modules/custom/ecms_api_publisher/tests/src/Unit/EcmsApiPublisherTest.php
  ecms_base/modules/custom/ecms_api_publisher/tests/src/Unit/EcmsApiSyndicateTest.php
  ecms_base/modules/custom/ecms_api_publisher/tests/src/Unit/Form/EcmsApiBatchSendUpdateFormTest.php
  ecms_base/modules/custom/ecms_api_publisher/tests/src/Unit/Plugin/QueueWorker/EcmsApiSyndicateQueueWorkerTest.php
  ecms_base/modules/custom/ecms_api_recipient/config/install/user.role.ecms_api_recipient.yml
  ecms_base/modules/custom/ecms_api_recipient/tests/src/ExistingSite/InstallationTest.php
Labels: configuration, documentation, drupal, php

#61 Prepare the changelog for the 0.1.0 release.
  CHANGELOG.md
Labels: approved, documentation, release

#62 Update base theme, create theme settings, base pattern lab integration
  ecms_base/ecms_base.info.yml
  ecms_base/themes/custom/ecms/config/optional/ecms.settings.yml
  ecms_base/themes/custom/ecms/ecms.info.yml
  ecms_base/themes/custom/ecms/ecms.theme
  ecms_base/themes/custom/ecms/templates/content/node.html.twig
  ecms_base/themes/custom/ecms/templates/includes/footer.html.twig
  ecms_base/themes/custom/ecms/templates/layout/html.html.twig
  ecms_base/themes/custom/ecms/templates/layout/page.html.twig
  ecms_base/themes/custom/ecms/theme-settings.php
Labels: configuration, drupal, json, php, twig, yml

#63 Create Content Components block type
  CHANGELOG.md
  composer.json
  ecms_base/config/install/layout_builder_modal.settings.yml
  ecms_base/ecms_base.info.yml
  ecms_base/features/custom/ecms_landing_page/config/install/block_content.type.content_components.yml
  ecms_base/features/custom/ecms_landing_page/config/install/core.entity_form_display.block_content.content_components.default.yml
  ecms_base/features/custom/ecms_landing_page/config/install/core.entity_view_display.block_content.content_components.default.yml
  ecms_base/features/custom/ecms_landing_page/config/install/core.entity_view_display.node.landing_page.full.yml
  ecms_base/features/custom/ecms_landing_page/config/install/field.field.block_content.content_components.field_components.yml
  ecms_base/features/custom/ecms_landing_page/config/install/field.storage.block_content.field_components.yml
  ecms_base/features/custom/ecms_landing_page/config/install/language.content_settings.block_content.content_components.yml
  ecms_base/features/custom/ecms_landing_page/ecms_landing_page.info.yml
Labels: approved, configuration, drupal, json, yml

#64 Prepare changelog for the 0.1.1 release
  CHANGELOG.md
Labels: approved, drupal, release

#67 Add Layout Builder Restrictions and configure Landing Page
  CHANGELOG.md
  composer.json
  ecms_base/ecms_base.info.yml
  ecms_base/features/custom/ecms_landing_page/config/install/core.entity_view_display.node.landing_page.full.yml
  ecms_base/features/custom/ecms_landing_page/ecms_landing_page.info.yml
Labels: approved

#66 Add Accordion Builder Paragraph bundle
  CHANGELOG.md
  ecms_base/features/custom/ecms_hotel/tests/src/ExistingSite/EcmsHotelInstallTest.php
  ecms_base/features/custom/ecms_paragraphs/config/install/core.entity_form_display.paragraph.accordion_builder.default.yml
  ecms_base/features/custom/ecms_paragraphs/config/install/core.entity_view_display.paragraph.accordion_builder.default.yml
  ecms_base/features/custom/ecms_paragraphs/config/install/field.field.paragraph.accordion_builder.field_item_flexible_text.yml
  ecms_base/features/custom/ecms_paragraphs/config/install/field.field.paragraph.accordion_builder.field_item_text.yml
  ecms_base/features/custom/ecms_paragraphs/config/install/field.storage.paragraph.field_item_flexible_text.yml
  ecms_base/features/custom/ecms_paragraphs/config/install/field.storage.paragraph.field_item_text.yml
  ecms_base/features/custom/ecms_paragraphs/config/install/filter.format.embed.yml
  ecms_base/features/custom/ecms_paragraphs/config/install/paragraphs.paragraphs_type.accordion_builder.yml
  ecms_base/features/custom/ecms_paragraphs/ecms_paragraphs.info.yml
  ecms_base/features/custom/ecms_projects/tests/src/ExistingSite/EcmsProjectsInstallTest.php
  ecms_base/themes/custom/ecms/config/install/ecms.settings.yml
Labels: approved, configuration, drupal, yml

#68 Base templates and theme settings updates
  CHANGELOG.md
  ecms_base/themes/custom/ecms/ecms.info.yml
  ecms_base/themes/custom/ecms/ecms.libraries.yml
  ecms_base/themes/custom/ecms/ecms.theme
  ecms_base/themes/custom/ecms/templates/content/node.html.twig
  ecms_base/themes/custom/ecms/templates/layout/html.html.twig
  ecms_base/themes/custom/ecms/templates/layout/page.html.twig
  ecms_base/themes/custom/ecms/templates/layout/region.html.twig
  ecms_base/themes/custom/ecms/theme-settings.php
Labels: approved, configuration, php, twig, yml

#65 Update default Basic HTML WYSIWYG
  CHANGELOG.md
  ecms_base/config/install/editor.editor.basic_html.yml
  ecms_base/config/install/filter.format.basic_html.yml
  ecms_base/config/install/layout_builder_modal.settings.yml
  ecms_base/ecms_base.profile
Labels: approved, configuration, drupal, yml

#69 Updated the AAD admin group name
  CHANGELOG.md
  docs/authentication.md
  ecms_base/config/install/user.role.drupal_admin.yml
  ecms_base/ecms_base.post_update.php
  ecms_base/modules/custom/ecms_authentication/src/EcmsUserAuthentication.php
  ecms_base/modules/custom/ecms_authentication/tests/src/Unit/EcmsUserAuthenticationTest.php
Labels: approved, drupal, php

#71 Page template updates and Accordion, Header, Menu theming
  CHANGELOG.md
  ecms_base/themes/custom/ecms/config/optional/block.block.mainnavigation.yml
  ecms_base/themes/custom/ecms/ecms.info.yml
  ecms_base/themes/custom/ecms/ecms.libraries.yml
  ecms_base/themes/custom/ecms/templates/layout/page--landing-page.html.twig
  ecms_base/themes/custom/ecms/templates/navigation/menu.html.twig
  ecms_base/themes/custom/ecms/templates/paragraphs/paragraph--accordion-builder.html.twig
Labels: configuration, drupal, twig, yml

#72 Prepare changelog for 0.1.2 release
  CHANGELOG.md
Labels: release

#73 Patch for claro theme tabledrag
  CHANGELOG.md
  composer.json
Labels: approved, bug, drupal, json

#76 Retrieve notifications and translations from the main hub site
  CHANGELOG.md
  composer.json
  ecms_base/modules/custom/ecms_api/src/EcmsApiBase.php
  ecms_base/modules/custom/ecms_api_recipient/README.md
  ecms_base/modules/custom/ecms_api_recipient/ecms_api_recipient.install
  ecms_base/modules/custom/ecms_api_recipient/ecms_api_recipient.services.yml
  ecms_base/modules/custom/ecms_api_recipient/src/EcmsApiCreateNotifications.php
  ecms_base/modules/custom/ecms_api_recipient/src/EcmsApiRecipientRetrieveNotifications.php
  ecms_base/modules/custom/ecms_api_recipient/src/JsonApiHelper.php
  ecms_base/modules/custom/ecms_api_recipient/src/Plugin/QueueWorker/NotificationCreationQueueWorker.php
  ecms_base/modules/custom/ecms_api_recipient/src/Plugin/QueueWorker/NotificationPagerQueueWorker.php
  ecms_base/modules/custom/ecms_api_recipient/tests/src/Unit/EcmsApiCreateNotificationsTest.php
  ecms_base/modules/custom/ecms_api_recipient/tests/src/Unit/EcmsApiRecipientRetrieveNotificationsTest.php
  ecms_base/modules/custom/ecms_api_recipient/tests/src/Unit/JsonApiHelperTest.php
  ecms_base/modules/custom/ecms_api_recipient/tests/src/Unit/Plugin/Queueworker/NotificationCreationQueueWorkerTest.php
  ecms_base/modules/custom/ecms_api_recipient/tests/src/Unit/Plugin/Queueworker/NotificationPagerQueueWorkerTest.php
Labels: approved, drupal, php

#77 Add and configure the external links module
  CHANGELOG.md
  composer.json
  ecms_base/config/install/extlink.settings.yml
  ecms_base/ecms_base.info.yml
  ecms_base/ecms_base.profile
Labels: approved, configuration, drupal, php

#70 Add the scheduler module and config
  CHANGELOG.md
  ecms_base/config/install/scheduler.settings.yml
  ecms_base/ecms_base.info.yml
  ecms_base/ecms_base.install
  ecms_base/ecms_base.profile
  ecms_base/features/custom/ecms_basic_page/ecms_basic_page.info.yml
  ecms_base/features/custom/ecms_event/ecms_event.info.yml
  ecms_base/features/custom/ecms_executive_orders/ecms_executive_orders.info.yml
  ecms_base/features/custom/ecms_hotel/ecms_hotel.info.yml
  ecms_base/features/custom/ecms_landing_page/ecms_landing_page.info.yml
  ecms_base/features/custom/ecms_location/ecms_location.info.yml
  ecms_base/features/custom/ecms_person/ecms_person.info.yml
  ecms_base/features/custom/ecms_press_release/ecms_press_release.info.yml
  ecms_base/features/custom/ecms_projects/ecms_projects.info.yml
  ecms_base/features/custom/ecms_promotions/ecms_promotions.info.yml
  ecms_base/features/custom/ecms_publications/ecms_publications.info.yml
  ecms_base/features/custom/ecms_speeches/ecms_speeches.info.yml
  ecms_base/modules/custom/ecms_workflow/src/EcmsWorkflowBundleCreate.php
Labels: approved, configuration, drupal, php, yml

#78 Install SVG Image and add Icon Card paragraph type
  CHANGELOG.md
  composer.json
  ecms_base/ecms_base.info.yml
  ecms_base/ecms_base.profile
  ecms_base/features/custom/ecms_paragraphs/config/install/core.entity_form_display.paragraph.icon_card.default.yml
  ecms_base/features/custom/ecms_paragraphs/config/install/core.entity_view_display.paragraph.icon_card.default.yml
  ecms_base/features/custom/ecms_paragraphs/config/install/field.field.paragraph.icon_card.field_icon.yml
  ecms_base/features/custom/ecms_paragraphs/config/install/field.field.paragraph.icon_card.field_list_title.yml
  ecms_base/features/custom/ecms_paragraphs/config/install/field.field.paragraph.icon_card.field_text.yml
  ecms_base/features/custom/ecms_paragraphs/config/install/field.storage.paragraph.field_icon.yml
  ecms_base/features/custom/ecms_paragraphs/config/install/paragraphs.paragraphs_type.icon_card.yml
  ecms_base/features/custom/ecms_paragraphs/ecms_paragraphs.info.yml
Labels: approved

#74 Install and configure webform enccrypt
  CHANGELOG.md
  composer.json
  docs/encryption.md
  ecms_base/config/install/encrypt.profile.webform_encryption.yml
  ecms_base/config/install/encrypt.settings.yml
  ecms_base/config/install/key.key.encryption_key.yml
  ecms_base/ecms_base.info.yml
  ecms_base/ecms_base.install
  scripts/develop.sh
Labels: approved, configuration, drupal, enhancement, json, php, yml

#79 Update the site admin permissions
  CHANGELOG.md
  ecms_base/config/install/user.role.site_admin.yml
  ecms_base/ecms_base.install
  ecms_base/ecms_base.post_update.php
  ecms_base/modules/custom/ecms_workflow/ecms_workflow.module
  ecms_base/modules/custom/ecms_workflow/src/EcmsWorkflowBundleCreate.php
  ecms_base/modules/custom/ecms_workflow/tests/src/Unit/EcmsWorkflowBundleCreateTest.php
Labels: approved, configuration, drupal, php

#75 Add pathauto and redirect modules
  CHANGELOG.md
  composer.json
  ecms_base/config/install/pathauto.settings.yml
  ecms_base/config/install/redirect.settings.yml
  ecms_base/ecms_base.info.yml
  ecms_base/ecms_base.profile
  ecms_base/features/custom/ecms_basic_page/config/install/pathauto.pattern.pages.yml
  ecms_base/features/custom/ecms_basic_page/ecms_basic_page.info.yml
  ecms_base/features/custom/ecms_event/config/install/pathauto.pattern.events.yml
  ecms_base/features/custom/ecms_event/ecms_event.info.yml
  ecms_base/features/custom/ecms_hotel/config/install/pathauto.pattern.accommodations.yml
  ecms_base/features/custom/ecms_hotel/ecms_hotel.info.yml
  ecms_base/features/custom/ecms_landing_page/ecms_landing_page.info.yml
  ecms_base/features/custom/ecms_location/config/install/pathauto.pattern.locations.yml
  ecms_base/features/custom/ecms_location/ecms_location.info.yml
  ecms_base/features/custom/ecms_person/config/install/pathauto.pattern.people.yml
  ecms_base/features/custom/ecms_person/ecms_person.info.yml
  ecms_base/features/custom/ecms_press_release/config/install/pathauto.pattern.press_releases.yml
  ecms_base/features/custom/ecms_press_release/ecms_press_release.info.yml
  ecms_base/features/custom/ecms_projects/config/install/pathauto.pattern.projects.yml
  ecms_base/features/custom/ecms_projects/ecms_projects.info.yml
  ecms_base/features/custom/ecms_speeches/config/install/pathauto.pattern.speeches.yml
  ecms_base/features/custom/ecms_speeches/ecms_speeches.info.yml
Labels: approved, configuration, drupal, json, php, yml

#81 Prepare the changelog for 0.1.3 release
  CHANGELOG.md
Labels: approved, release

#82 Fix the Active Directory strict role mapping
  CHANGELOG.md
  docs/authentication.md
  ecms_base/config/install/openid_connect.settings.windows_aad.yml
  ecms_base/ecms_base.post_update.php
  ecms_base/modules/custom/ecms_authentication/ecms_authentication.module
  ecms_base/modules/custom/ecms_authentication/src/EcmsUserAuthentication.php
  ecms_base/modules/custom/ecms_authentication/tests/src/Unit/EcmsUserAuthenticationTest.php
  phpunit.xml
Labels: approved, configuration, drupal, php

#84 Webform encryption updates
  CHANGELOG.md
  composer.json
  ecms_base/ecms_base.profile
Labels: approved, drupal, json, php

#85 Prepare changelog for the 0.1.4 release
  CHANGELOG.md
Labels: approved, release

#86 File List theming, Press Release theming, media_library_theme_reset module
  CHANGELOG.md
  composer.json
  ecms_base/config/install/user.role.anonymous.yml
  ecms_base/ecms_base.info.yml
  ecms_base/features/custom/ecms_paragraphs/config/install/core.entity_form_display.media.file.default.yml
  ecms_base/features/custom/ecms_paragraphs/config/install/core.entity_form_display.media.file.media_library.yml
  ecms_base/features/custom/ecms_paragraphs/config/install/core.entity_view_display.media.file.default.yml
  ecms_base/features/custom/ecms_paragraphs/config/install/core.entity_view_display.media.file.media_library.yml
  ecms_base/features/custom/ecms_paragraphs/config/install/field.field.media.file.field_file.yml
  ecms_base/features/custom/ecms_paragraphs/config/install/field.field.media.file.field_file_title.yml
  ecms_base/features/custom/ecms_paragraphs/config/install/field.storage.media.field_file_title.yml
  ecms_base/features/custom/ecms_paragraphs/config/install/language.content_settings.media.file.yml
  ecms_base/features/custom/ecms_press_release/config/install/core.entity_form_display.node.press_release.default.yml
  ecms_base/features/custom/ecms_press_release/config/install/core.entity_view_display.node.press_release.teaser.yml
  ecms_base/features/custom/ecms_press_release/config/install/node.type.press_release.yml
  ecms_base/features/custom/ecms_press_release/config/install/pathauto.pattern.press_releases.yml
  ecms_base/features/custom/ecms_press_release/config/install/views.view.press_releases.yml
  ecms_base/features/custom/ecms_press_release/ecms_press_release.info.yml
  ecms_base/themes/custom/ecms/ecms.theme
  ecms_base/themes/custom/ecms/templates/content/media--file.html.twig
  ecms_base/themes/custom/ecms/templates/content/node--full.html.twig
  ecms_base/themes/custom/ecms/templates/content/node--press-release--full.html.twig
  ecms_base/themes/custom/ecms/templates/content/node--press-release--teaser.html.twig
  ecms_base/themes/custom/ecms/templates/fields/field--entity-reference-revisions.html.twig
  ecms_base/themes/custom/ecms/templates/fields/field--paragraph--field-files.html.twig
  ecms_base/themes/custom/ecms/templates/fields/field--text-with-summary.html.twig
  ecms_base/themes/custom/ecms/templates/form/container--view--press-releases.html.twig
  ecms_base/themes/custom/ecms/templates/paragraphs/paragraph--file-list.html.twig
  ecms_base/themes/custom/ecms/templates/views/views-view--press-releases.html.twig
  ecms_base/themes/custom/ecms/templates/views/views-view-unformatted--press-releases.html.twig
  scripts/develop.sh
Labels: configuration, php, twig, yml

#87 Prepare changelog for 0.1.5 release
  CHANGELOG.md
Labels: approved, release

#88 Rig 138/theme debug
  CHANGELOG.md
  composer.json
  docs/theming.md
  ecms_base/features/custom/ecms_executive_orders/tests/src/ExistingSite/EcmsExecutiveOrdersInstallTest.php
  ecms_base/features/custom/ecms_hotel/tests/src/ExistingSite/EcmsHotelInstallTest.php
  ecms_base/features/custom/ecms_projects/tests/src/ExistingSite/EcmsProjectsInstallTest.php
  ecms_base/features/custom/ecms_speeches/tests/src/ExistingSite/EcmsSpeechesInstallTest.php
Labels: approved, documentation, json, twig

#90 Resolve invalid json theme setting file. Update translate functions with file media
  CHANGELOG.md
  ecms_base/themes/custom/ecms/ecms.theme
  ecms_base/themes/custom/ecms/theme-settings.php
Labels: bug, php

#89 Add scheduler settings to content types
  CHANGELOG.md
  ecms_base/features/custom/ecms_basic_page/config/install/core.entity_form_display.node.basic_page.default.yml
  ecms_base/features/custom/ecms_basic_page/config/install/node.type.basic_page.yml
  ecms_base/features/custom/ecms_basic_page/config/install/pathauto.pattern.pages.yml
  ecms_base/features/custom/ecms_event/config/install/core.entity_form_display.node.event.default.yml
  ecms_base/features/custom/ecms_event/config/install/node.type.event.yml
  ecms_base/features/custom/ecms_event/config/install/pathauto.pattern.events.yml
  ecms_base/features/custom/ecms_executive_orders/config/install/core.entity_form_display.node.executive_order.default.yml
  ecms_base/features/custom/ecms_executive_orders/config/install/node.type.executive_order.yml
  ecms_base/features/custom/ecms_hotel/config/install/core.entity_form_display.node.hotel.default.yml
  ecms_base/features/custom/ecms_hotel/config/install/node.type.hotel.yml
  ecms_base/features/custom/ecms_hotel/config/install/pathauto.pattern.accommodations.yml
  ecms_base/features/custom/ecms_landing_page/config/install/core.entity_form_display.node.landing_page.default.yml
  ecms_base/features/custom/ecms_landing_page/config/install/node.type.landing_page.yml
  ecms_base/features/custom/ecms_location/config/install/core.entity_form_display.node.location.default.yml
  ecms_base/features/custom/ecms_location/config/install/node.type.location.yml
  ecms_base/features/custom/ecms_location/config/install/pathauto.pattern.locations.yml
  ecms_base/features/custom/ecms_person/config/install/core.entity_form_display.node.person.default.yml
  ecms_base/features/custom/ecms_person/config/install/node.type.person.yml
  ecms_base/features/custom/ecms_person/config/install/pathauto.pattern.people.yml
  ecms_base/features/custom/ecms_projects/config/install/core.entity_form_display.node.project.default.yml
  ecms_base/features/custom/ecms_projects/config/install/node.type.project.yml
  ecms_base/features/custom/ecms_projects/config/install/pathauto.pattern.projects.yml
  ecms_base/features/custom/ecms_promotions/config/install/core.entity_form_display.node.promotions.default.yml
  ecms_base/features/custom/ecms_promotions/config/install/node.type.promotions.yml
  ecms_base/features/custom/ecms_publications/config/install/core.entity_form_display.node.publication.default.yml
  ecms_base/features/custom/ecms_publications/config/install/node.type.publication.yml
  ecms_base/features/custom/ecms_speeches/config/install/core.entity_form_display.node.speech.default.yml
  ecms_base/features/custom/ecms_speeches/config/install/node.type.speech.yml
  ecms_base/features/custom/ecms_speeches/config/install/pathauto.pattern.speeches.yml
  scripts/clean-config.sh
Labels: approved, configuration, drupal, yml
