Repository State-of-Rhode-Island-eCMS/ecms_profile, pull requests merged in 2021-06, with the labels that each got.

#270 Fixed issue with events displaying incorrect month.
  CHANGELOG.md
  ecms_base/themes/custom/ecms/templates/content/node--event--teaser.html.twig
Labels: approved, bug, twig

#272 Update the ACSF module
  CHANGELOG.md
  composer.json
  scripts/ci-develop.sh
Labels: configuration, drupal, yml

#273 Webform updates to display and path
  CHANGELOG.md
  ecms_base/config/install/node.type.webform.yml
  ecms_base/config/install/pathauto.pattern.webform_nodes.yml
  ecms_base/ecms_base.install
Labels: configuration, drupal, php, yml

#274 Fix additional issues with publication list translation settings.
  CHANGELOG.md
  ecms_base/features/custom/ecms_publications/config/install/core.base_field_override.paragraph.publication_list.created.yml
  ecms_base/features/custom/ecms_publications/config/install/core.base_field_override.paragraph.publication_list.status.yml
Labels: approved, drupal, yml

#277 Event improvements
  CHANGELOG.md
  ecms_base/features/custom/ecms_event/config/install/core.entity_form_display.node.event.default.yml
  ecms_base/features/custom/ecms_event/config/install/core.entity_form_display.paragraph.event_list.default.yml
  ecms_base/features/custom/ecms_event/config/install/core.entity_view_display.node.event.default.yml
  ecms_base/features/custom/ecms_event/config/install/core.entity_view_display.node.event.teaser.yml
  ecms_base/features/custom/ecms_event/config/install/core.entity_view_display.paragraph.event_list.default.yml
  ecms_base/features/custom/ecms_event/config/install/field.field.node.event.field_event_paragraphs.yml
  ecms_base/features/custom/ecms_event/config/install/field.field.paragraph.event_list.field_event_list_limit.yml
  ecms_base/features/custom/ecms_event/config/install/field.field.paragraph.event_list.field_event_list_link.yml
  ecms_base/features/custom/ecms_event/config/install/field.field.paragraph.event_list.field_event_list_title.yml
  ecms_base/features/custom/ecms_event/config/install/field.field.paragraph.event_list.field_event_list_type.yml
  ecms_base/features/custom/ecms_event/config/install/field.field.paragraph.event_list.field_upcoming_recent.yml
  ecms_base/features/custom/ecms_event/config/install/field.storage.node.field_event_paragraphs.yml
  ecms_base/features/custom/ecms_event/config/install/field.storage.paragraph.field_event_list_limit.yml
  ecms_base/features/custom/ecms_event/config/install/field.storage.paragraph.field_event_list_link.yml
  ecms_base/features/custom/ecms_event/config/install/field.storage.paragraph.field_event_list_title.yml
  ecms_base/features/custom/ecms_event/config/install/field.storage.paragraph.field_event_list_type.yml
  ecms_base/features/custom/ecms_event/config/install/field.storage.paragraph.field_upcoming_recent.yml
  ecms_base/features/custom/ecms_event/config/install/language.content_settings.paragraph.event_list.yml
  ecms_base/features/custom/ecms_event/config/install/paragraphs.paragraphs_type.event_list.yml
  ecms_base/features/custom/ecms_event/config/install/paragraphs_translation_sync.event_list.yml
  ecms_base/features/custom/ecms_event/config/install/views.view.events.yml
  ecms_base/features/custom/ecms_event/ecms_event.info.yml
  ecms_base/themes/custom/ecms/ecms.theme
  ecms_base/themes/custom/ecms/templates/content/node--event--full.html.twig
  ecms_base/themes/custom/ecms/templates/paragraphs/paragraph--event-list.html.twig
  ecms_base/themes/custom/ecms/templates/views/views-view--events--page_2.html.twig
Labels: drupal, enhancement, php, twig, yml

#278 Fix missing file icon in media library
  CHANGELOG.md
  ecms_base/ecms_base.install
Labels: approved, bug, drupal, php

#276 Add global encrypt option to webform encrypt module
  CHANGELOG.md
  composer.json
Labels: configuration, drupal, json, php

#282 Remove unpublish and publish tabs from node
  CHANGELOG.md
  composer.json
  ecms_base/modules/custom/ecms_languages/ecms_languages.module
Labels: configuration, drupal, php

#279 Add geolocation support for locations
  CHANGELOG.md
  ecms_base/features/custom/ecms_location/config/install/core.entity_form_display.node.location.default.yml
  ecms_base/features/custom/ecms_location/config/install/core.entity_view_display.node.location.default.yml
  ecms_base/features/custom/ecms_location/config/install/core.entity_view_display.node.location.teaser.yml
  ecms_base/features/custom/ecms_location/config/install/field.field.node.location.field_location_geofield.yml
  ecms_base/features/custom/ecms_location/config/install/field.storage.node.field_location_geofield.yml
  ecms_base/features/custom/ecms_location/config/install/geocoder.geocoder_provider.arcgisonline.yml
  ecms_base/features/custom/ecms_location/ecms_location.info.yml
  ecms_base/themes/custom/ecms/templates/content/node--location--full.html.twig
Labels: configuration, drupal, enhancement, twig, yml

#275 Setup profile to handle illustrations
  CHANGELOG.md
  ecms_base/themes/custom/ecms/ecms.info.yml
  ecms_base/themes/custom/ecms/ecms.theme
  ecms_base/themes/custom/ecms/templates/layout/page--landing-page.html.twig
  ecms_base/themes/custom/ecms/templates/layout/page.html.twig
  ecms_base/themes/custom/ecms/theme-settings.php
  scripts/develop.sh
Labels: drupal, enhancement, php, twig, yml
