Repository State-of-Rhode-Island-eCMS/ecms_profile, pull requests merged in 2021-03, with the labels that each got.

#233 Speech view, speech twig templates, updates to speech config
  CHANGELOG.md
  ecms_base/features/custom/ecms_speeches/config/install/core.entity_form_display.node.speech.default.yml
  ecms_base/features/custom/ecms_speeches/config/install/core.entity_view_display.node.speech.default.yml
  ecms_base/features/custom/ecms_speeches/config/install/core.entity_view_display.node.speech.teaser.yml
  ecms_base/features/custom/ecms_speeches/config/install/field.field.node.speech.field_speech_text.yml
  ecms_base/features/custom/ecms_speeches/config/install/field.storage.node.field_speech_text.yml
  ecms_base/features/custom/ecms_speeches/config/install/views.view.speeches.yml
  ecms_base/features/custom/ecms_speeches/ecms_speeches.info.yml
  ecms_base/themes/custom/ecms/templates/content/node--speech--full.html.twig
  ecms_base/themes/custom/ecms/templates/content/node--speech--teaser.html.twig
  ecms_base/themes/custom/ecms/templates/views/views-view--speeches--page_1.html.twig
  ecms_base/themes/custom/ecms/templates/views/views-view--speeches.html.twig
Labels: configuration, drupal, twig, yml

#237 Create person list paragraph and update person content type
  CHANGELOG.md
  ecms_base/config/install/user.role.anonymous.yml
  ecms_base/config/install/user.role.authenticated.yml
  ecms_base/config/install/user.role.content_author.yml
  ecms_base/config/install/user.role.content_publisher.yml
  ecms_base/config/install/user.role.site_admin.yml
  ecms_base/ecms_base.install
  ecms_base/features/custom/ecms_person/config/install/core.entity_form_display.node.person.default.yml
  ecms_base/features/custom/ecms_person/config/install/core.entity_form_display.paragraph.person_list.default.yml
  ecms_base/features/custom/ecms_person/config/install/core.entity_view_display.node.person.default.yml
  ecms_base/features/custom/ecms_person/config/install/core.entity_view_display.node.person.teaser.yml
  ecms_base/features/custom/ecms_person/config/install/core.entity_view_display.paragraph.person_list.default.yml
  ecms_base/features/custom/ecms_person/config/install/field.field.node.person.field_person_category.yml
  ecms_base/features/custom/ecms_person/config/install/field.field.node.person.field_person_fax.yml
  ecms_base/features/custom/ecms_person/config/install/field.field.node.person.field_person_middle_initial.yml
  ecms_base/features/custom/ecms_person/config/install/field.field.node.person.field_person_phone.yml
  ecms_base/features/custom/ecms_person/config/install/field.field.node.person.field_person_phone_extension.yml
  ecms_base/features/custom/ecms_person/config/install/field.field.node.person.field_person_photo.yml
  ecms_base/features/custom/ecms_person/config/install/field.field.node.person.field_person_prefix.yml
  ecms_base/features/custom/ecms_person/config/install/field.field.node.person.field_person_suffix.yml
  ecms_base/features/custom/ecms_person/config/install/field.field.paragraph.person_list.field_department_category.yml
  ecms_base/features/custom/ecms_person/config/install/field.storage.node.field_person_category.yml
  ecms_base/features/custom/ecms_person/config/install/field.storage.node.field_person_phone.yml
  ecms_base/features/custom/ecms_person/config/install/field.storage.node.field_person_phone_extension.yml
  ecms_base/features/custom/ecms_person/config/install/field.storage.node.field_person_photo.yml
  ecms_base/features/custom/ecms_person/config/install/field.storage.node.field_person_prefix.yml
  ecms_base/features/custom/ecms_person/config/install/field.storage.node.field_person_suffix.yml
  ecms_base/features/custom/ecms_person/config/install/field.storage.paragraph.field_department_category.yml
  ecms_base/features/custom/ecms_person/config/install/paragraphs.paragraphs_type.person_list.yml
  ecms_base/features/custom/ecms_person/config/install/rabbit_hole.behavior_settings.node_type_person.yml
  ecms_base/features/custom/ecms_person/config/install/rabbit_hole.behavior_settings.taxonomy_vocabulary_person_taxonomy.yml
  ecms_base/features/custom/ecms_person/config/install/views.view.person_list_reference_filter.yml
  ecms_base/features/custom/ecms_person/ecms_person.info.yml
  ecms_base/themes/custom/ecms/ecms.theme
  ecms_base/themes/custom/ecms/templates/content/node--person--teaser.html.twig
  ecms_base/themes/custom/ecms/templates/paragraphs/paragraph--person-list.html.twig
Labels: approved, configuration, drupal, php, twig, yml

#238 Update Acquia Solr Search module
  CHANGELOG.md
  composer.json
  ecms_acquia/config/install/search_api.index.acquia_search_solr_search_api_solr_index.yml
  ecms_acquia/config/install/search_api.settings.yml
  ecms_base/config/install/search_api.index.database.yml
  ecms_base/config/install/search_api.server.database.yml
  ecms_base/config/install/search_api_db.settings.yml
  ecms_base/config/install/views.view.site_search.yml
  ecms_base/features/custom/ecms_basic_page/ecms_basic_page.features.yml
Labels: configuration, drupal, json, yml

#245 Add empty path check
  CHANGELOG.md
  ecms_base/modules/custom/ecms_languages/src/LanguageNegotiationSessionFix.php
Labels: bug, drupal, php

#243 Executive order full listing, teaser, and node view
  CHANGELOG.md
  composer.json
  ecms_base/features/custom/ecms_executive_orders/config/install/core.entity_form_display.node.executive_order.default.yml
  ecms_base/features/custom/ecms_executive_orders/config/install/core.entity_view_display.media.executive_order_pdf.default.yml
  ecms_base/features/custom/ecms_executive_orders/config/install/core.entity_view_display.media.executive_order_pdf.media_library.yml
  ecms_base/features/custom/ecms_executive_orders/config/install/core.entity_view_display.node.executive_order.default.yml
  ecms_base/features/custom/ecms_executive_orders/config/install/core.entity_view_display.node.executive_order.teaser.yml
  ecms_base/features/custom/ecms_executive_orders/config/install/field.field.node.executive_order.field_executive_order_text.yml
  ecms_base/features/custom/ecms_executive_orders/config/install/field.storage.node.field_executive_order_text.yml
  ecms_base/features/custom/ecms_executive_orders/config/install/pathauto.pattern.executive_orders.yml
  ecms_base/features/custom/ecms_executive_orders/config/install/rabbit_hole.behavior_settings.node_type_executive_order.yml
  ecms_base/features/custom/ecms_executive_orders/config/install/views.view.executive_orders.yml
  ecms_base/features/custom/ecms_executive_orders/ecms_executive_orders.info.yml
  ecms_base/features/custom/ecms_vaccination_site/ecms_vaccination_site.info.yml
  ecms_base/themes/custom/ecms/ecms.theme
  ecms_base/themes/custom/ecms/templates/content/node--executive-order--full.html.twig
  ecms_base/themes/custom/ecms/templates/content/node--executive-order--teaser.html.twig
  ecms_base/themes/custom/ecms/templates/fields/field--node--executive-order.html.twig
  ecms_base/themes/custom/ecms/templates/views/views-view--executive-orders--page_1.html.twig
Labels: configuration, drupal, twig, yml

#247 Update migration docs
  ecms_base/modules/custom/ecms_migration/README.md
Labels: documentation

#249 Update file and file redirect migrations
  CHANGELOG.md
  composer.json
  ecms_base/ecms_base.install
  ecms_base/modules/custom/ecms_migration/README.md
  ecms_base/modules/custom/ecms_migration/config/install/migrate_plus.migration.ecms_file.yml
  ecms_base/modules/custom/ecms_migration/config/install/migrate_plus.migration.ecms_file_redirect.yml
  ecms_base/modules/custom/ecms_migration/ecms_migration.module
Labels: approved, configuration, documentation, drupal, json, php, yml
