Repository State-of-Rhode-Island-eCMS/ecms_profile, pull requests merged in 2021-02, with the labels that each got.

#217 Update translation settings to match prod
  CHANGELOG.md
  ecms_base/config/install/language.content_settings.menu_link_content.menu_link_content.yml
  ecms_base/features/custom/ecms_paragraphs/config/install/field.field.paragraph.accordion_builder.field_item_flexible_text.yml
  ecms_base/features/custom/ecms_paragraphs/config/install/language.content_settings.media.media_item_video.yml
  ecms_base/features/custom/ecms_paragraphs/config/install/language.content_settings.paragraph.gallery.yml
  ecms_base/features/custom/ecms_paragraphs/config/install/language.content_settings.paragraph.gallery_item.yml
Labels: approved, configuration, drupal

#216 iCal feeds config, parser, and item
  CHANGELOG.md
  composer.json
  ecms_base/ecms_base.info.yml
  ecms_base/features/custom/ecms_event/config/install/core.entity_form_display.node.event.default.yml
  ecms_base/features/custom/ecms_event/config/install/core.entity_view_display.node.event.default.yml
  ecms_base/features/custom/ecms_event/config/install/core.entity_view_display.node.event.teaser.yml
  ecms_base/features/custom/ecms_event/config/install/feeds.feed_type.ical_feed.yml
  ecms_base/features/custom/ecms_event/config/install/field.field.node.event.feeds_item.yml
  ecms_base/features/custom/ecms_event/config/install/field.storage.node.feeds_item.yml
  ecms_base/features/custom/ecms_event/ecms_event.info.yml
  ecms_base/modules/custom/ecms_feeds/ecms_feeds.info.yml
  ecms_base/modules/custom/ecms_feeds/src/Feeds/Item/EcmsIcalItem.php
  ecms_base/modules/custom/ecms_feeds/src/Feeds/Parser/EcmsIcalParser.php
Labels: approved, configuration, drupal, enhancement, php, yml

#219 Latest Events and Event listing
  CHANGELOG.md
  composer.json
  ecms_base/ecms_base.info.yml
  ecms_base/features/custom/ecms_event/config/install/core.entity_form_display.node.event.default.yml
  ecms_base/features/custom/ecms_event/config/install/core.entity_view_display.node.event.default.yml
  ecms_base/features/custom/ecms_event/config/install/core.entity_view_display.node.event.teaser.yml
  ecms_base/features/custom/ecms_event/config/install/feeds.feed_type.ical_feed.yml
  ecms_base/features/custom/ecms_event/config/install/field.field.node.event.field_event_date.yml
  ecms_base/features/custom/ecms_event/config/install/field.field.node.event.field_event_rrule.yml
  ecms_base/features/custom/ecms_event/config/install/field.storage.node.field_event_rrule.yml
  ecms_base/features/custom/ecms_event/config/install/rabbit_hole.behavior_settings.node_type_event.yml
  ecms_base/features/custom/ecms_event/config/install/rabbit_hole.behavior_settings.taxonomy_vocabulary_event_taxonomy.yml
  ecms_base/features/custom/ecms_event/config/install/views.view.events.yml
  ecms_base/features/custom/ecms_event/ecms_event.info.yml
  ecms_base/features/custom/ecms_landing_page/config/install/core.entity_view_display.node.landing_page.full.yml
  ecms_base/modules/custom/ecms_feeds/src/Feeds/Item/EcmsIcalItem.php
  ecms_base/modules/custom/ecms_feeds/src/Feeds/Parser/EcmsIcalParser.php
  ecms_base/themes/custom/ecms/ecms.libraries.yml
  ecms_base/themes/custom/ecms/templates/content/node--event--teaser.html.twig
  ecms_base/themes/custom/ecms/templates/views/views-view--events--page_1.html.twig
  ecms_base/themes/custom/ecms/templates/views/views-view--events.html.twig
  ecms_base/themes/custom/ecms/templates/views/views-view-unformatted--press-releases.html.twig
Labels: approved, configuration, drupal, php, twig, yml

#221 Theme event full display
  CHANGELOG.md
  ecms_base/features/custom/ecms_event/config/install/core.entity_form_display.node.event.default.yml
  ecms_base/features/custom/ecms_event/config/install/core.entity_view_display.node.event.default.yml
  ecms_base/features/custom/ecms_event/config/install/core.entity_view_display.node.event.teaser.yml
  ecms_base/features/custom/ecms_event/config/install/field.field.node.event.field_event_registration_url.yml
  ecms_base/features/custom/ecms_event/config/install/field.field.node.event.field_event_virtual_meeting_url.yml
  ecms_base/features/custom/ecms_event/config/install/field.storage.node.field_event_registration_url.yml
  ecms_base/features/custom/ecms_event/config/install/field.storage.node.field_event_virtual_meeting_url.yml
  ecms_base/features/custom/ecms_event/ecms_event.info.yml
  ecms_base/themes/custom/ecms/ecms.theme
  ecms_base/themes/custom/ecms/templates/content/node--event--full.html.twig
  ecms_base/themes/custom/ecms/templates/fields/field--node--field-event-type.html.twig
Labels: configuration, drupal, twig, yml

#220 Remove top level domain settings for ext link
  CHANGELOG.md
  ecms_base/config/install/extlink.settings.yml
  ecms_base/ecms_base.install
Labels: approved, configuration, drupal, yml

#218 Update cache max lifetime
  CHANGELOG.md
  ecms_base/config/install/system.performance.yml
  ecms_base/ecms_base.install
Labels: configuration, drupal, php, yml

#223 Update readme docs for migrations
  ecms_base/modules/custom/ecms_migration/README.md
Labels: approved, documentation

#224 Prepare changelog for release 0.4.7
  CHANGELOG.md
Labels: release

#225 Update promotion translations and publication migration
  CHANGELOG.md
  ecms_base/features/custom/ecms_promotions/config/install/field.field.media.promotional_image.field_promotion_image.yml
  ecms_base/modules/custom/ecms_covid_publication_migrate/config/install/migrate_plus.migration.ecms_covid_publications_rss.yml
  ecms_base/themes/custom/ecms/ecms.theme
  ecms_base/themes/custom/ecms/templates/content/node--promotions--teaser.html.twig
Labels: approved, configuration, drupal, php, twig, yml

#226 Custom icon library and new icon button component
  CHANGELOG.md
  ecms_base/config/install/user.role.anonymous.yml
  ecms_base/config/install/user.role.authenticated.yml
  ecms_base/config/install/user.role.content_author.yml
  ecms_base/config/install/user.role.content_publisher.yml
  ecms_base/config/install/user.role.site_admin.yml
  ecms_base/ecms_base.info.yml
  ecms_base/ecms_base.install
  ecms_base/features/custom/ecms_paragraphs/config/install/core.base_field_override.media.icon.changed.yml
  ecms_base/features/custom/ecms_paragraphs/config/install/core.base_field_override.media.icon.created.yml
  ecms_base/features/custom/ecms_paragraphs/config/install/core.base_field_override.media.icon.metatag.yml
  ecms_base/features/custom/ecms_paragraphs/config/install/core.base_field_override.media.icon.name.yml
  ecms_base/features/custom/ecms_paragraphs/config/install/core.base_field_override.media.icon.path.yml
  ecms_base/features/custom/ecms_paragraphs/config/install/core.base_field_override.media.icon.status.yml
  ecms_base/features/custom/ecms_paragraphs/config/install/core.base_field_override.media.icon.thumbnail.yml
  ecms_base/features/custom/ecms_paragraphs/config/install/core.base_field_override.media.icon.uid.yml
  ecms_base/features/custom/ecms_paragraphs/config/install/core.entity_form_display.media.icon.default.yml
  ecms_base/features/custom/ecms_paragraphs/config/install/core.entity_form_display.media.icon.media_library.yml
  ecms_base/features/custom/ecms_paragraphs/config/install/core.entity_form_display.paragraph.icon_button.default.yml
  ecms_base/features/custom/ecms_paragraphs/config/install/core.entity_view_display.media.icon.default.yml
  ecms_base/features/custom/ecms_paragraphs/config/install/core.entity_view_display.media.icon.media_library.yml
  ecms_base/features/custom/ecms_paragraphs/config/install/core.entity_view_display.paragraph.icon_button.default.yml
  ecms_base/features/custom/ecms_paragraphs/config/install/field.field.media.icon.field_icon_image.yml
  ecms_base/features/custom/ecms_paragraphs/config/install/field.field.paragraph.icon_button.field_button_color.yml
  ecms_base/features/custom/ecms_paragraphs/config/install/field.field.paragraph.icon_button.field_icon_library_icon.yml
  ecms_base/features/custom/ecms_paragraphs/config/install/field.field.paragraph.icon_button.field_link.yml
  ecms_base/features/custom/ecms_paragraphs/config/install/field.storage.media.field_icon_image.yml
  ecms_base/features/custom/ecms_paragraphs/config/install/field.storage.paragraph.field_button_color.yml
  ecms_base/features/custom/ecms_paragraphs/config/install/field.storage.paragraph.field_icon_library_icon.yml
  ecms_base/features/custom/ecms_paragraphs/config/install/language.content_settings.media.icon.yml
  ecms_base/features/custom/ecms_paragraphs/config/install/language.content_settings.paragraph.icon_button.yml
  ecms_base/features/custom/ecms_paragraphs/config/install/media.type.icon.yml
  ecms_base/features/custom/ecms_paragraphs/config/install/paragraphs.paragraphs_type.icon_button.yml
  ecms_base/features/custom/ecms_paragraphs/ecms_paragraphs.info.yml
  ecms_base/modules/custom/ecms_icon_library/ecms_icon_library.info.yml
  ecms_base/modules/custom/ecms_icon_library/src/Plugin/Field/FieldFormatter/EcmsIconLibraryFormatter.php
  ecms_base/modules/custom/ecms_icon_library/src/Plugin/Field/FieldType/EcmsIconLibrary.php
  ecms_base/modules/custom/ecms_icon_library/src/Plugin/Field/FieldWidget/EcmsIconLibraryWidget.php
  ecms_base/themes/custom/ecms/templates/fields/field--ecms-icon-library.html.twig
  ecms_base/themes/custom/ecms/templates/paragraphs/paragraph--icon-button.html.twig
  ecms_base/themes/custom/ecms_claro/css/style.css
  ecms_base/themes/custom/ecms_claro/ecms_claro.libraries.yml
Labels: configuration, drupal, json, php, twig, yml

#228 Fixed missing module dependency media_library_form_element
  CHANGELOG.md
  composer.json
  ecms_base/ecms_base.info.yml
  ecms_base/ecms_base.install
Labels: bug, configuration, yml

#230 Resolve issue with promotion URLs
  CHANGELOG.md
  ecms_base/themes/custom/ecms/templates/content/node--promotions--teaser.html.twig
Labels: bug

#232 Update notification text
  CHANGELOG.md
  ecms_base/config/install/content_moderation_notifications.content_moderation_notification.ready_for_review.yml
  ecms_base/ecms_base.install
Labels: approved, configuration

#236 Ensure basic_html is format for basic page intro text field
  CHANGELOG.md
  ecms_base/ecms_base.install
  ecms_base/modules/custom/ecms_migration/config/install/migrate_plus.migration.ecms_basic_page.yml
Labels: configuration, drupal, php, yml
