Repository State-of-Rhode-Island-eCMS/ecms_profile, pull requests merged in 2021-04, with the labels that each got.

#234 Add paragraph translation sync module
  CHANGELOG.md
  composer.json
  ecms_base/config/install/user.role.anonymous.yml
  ecms_base/ecms_base.info.yml
  ecms_base/ecms_base.install
  ecms_base/features/custom/ecms_paragraphs/config/install/core.entity_form_display.paragraph.accordion_builder.default.yml
  ecms_base/features/custom/ecms_paragraphs/config/install/core.entity_form_display.paragraph.card.default.yml
  ecms_base/features/custom/ecms_paragraphs/config/install/core.entity_form_display.paragraph.column_container.default.yml
  ecms_base/features/custom/ecms_paragraphs/config/install/core.entity_form_display.paragraph.embed.default.yml
  ecms_base/features/custom/ecms_paragraphs/config/install/core.entity_form_display.paragraph.file_list.default.yml
  ecms_base/features/custom/ecms_paragraphs/config/install/core.entity_form_display.paragraph.formatted_text.default.yml
  ecms_base/features/custom/ecms_paragraphs/config/install/core.entity_form_display.paragraph.gallery.default.yml
  ecms_base/features/custom/ecms_paragraphs/config/install/core.entity_form_display.paragraph.gallery_item.default.yml
  ecms_base/features/custom/ecms_paragraphs/config/install/core.entity_form_display.paragraph.icon_button.default.yml
  ecms_base/features/custom/ecms_paragraphs/config/install/core.entity_form_display.paragraph.icon_card.default.yml
  ecms_base/features/custom/ecms_paragraphs/config/install/core.entity_form_display.paragraph.media_item.default.yml
  ecms_base/features/custom/ecms_paragraphs/config/install/core.entity_form_display.paragraph.numbered_step_item.default.yml
  ecms_base/features/custom/ecms_paragraphs/config/install/core.entity_form_display.paragraph.text_card.default.yml
  ecms_base/features/custom/ecms_paragraphs/config/install/paragraphs_translation_sync.accordion_builder.yml
  ecms_base/features/custom/ecms_paragraphs/config/install/paragraphs_translation_sync.card.yml
  ecms_base/features/custom/ecms_paragraphs/config/install/paragraphs_translation_sync.column_container.yml
  ecms_base/features/custom/ecms_paragraphs/config/install/paragraphs_translation_sync.embed.yml
  ecms_base/features/custom/ecms_paragraphs/config/install/paragraphs_translation_sync.file_list.yml
  ecms_base/features/custom/ecms_paragraphs/config/install/paragraphs_translation_sync.formatted_text.yml
  ecms_base/features/custom/ecms_paragraphs/config/install/paragraphs_translation_sync.gallery.yml
  ecms_base/features/custom/ecms_paragraphs/config/install/paragraphs_translation_sync.gallery_item.yml
  ecms_base/features/custom/ecms_paragraphs/config/install/paragraphs_translation_sync.icon_button.yml
  ecms_base/features/custom/ecms_paragraphs/config/install/paragraphs_translation_sync.icon_card.yml
  ecms_base/features/custom/ecms_paragraphs/config/install/paragraphs_translation_sync.media_item.yml
  ecms_base/features/custom/ecms_paragraphs/config/install/paragraphs_translation_sync.numbered_step_item.yml
  ecms_base/features/custom/ecms_paragraphs/config/install/paragraphs_translation_sync.text_card.yml
  ecms_base/features/custom/ecms_paragraphs/ecms_paragraphs.info.yml
  ecms_base/features/custom/ecms_press_release/config/install/core.entity_form_display.node.press_release.default.yml
  ecms_base/features/custom/ecms_press_release/config/install/field.field.node.press_release.field_press_release_paragraphs.yml
  ecms_base/features/custom/ecms_promotions/config/install/paragraphs_translation_sync.promotion_reference.yml
  ecms_base/features/custom/ecms_publications/config/install/paragraphs_translation_sync.publication_list.yml
Labels: configuration, enhancement, json, php, yml

#251 Add update hook for updated file migration
  CHANGELOG.md
  ecms_base/ecms_base.install
  ecms_base/modules/custom/ecms_migration/config/install/migrate_plus.migration.ecms_file.yml
Labels: approved, configuration, drupal, php

#252 Prepare changelog for release 0.5.5
  CHANGELOG.md
Labels: release

#253 Enable translation for icon field
  CHANGELOG.md
  ecms_base/features/custom/ecms_location/config/install/paragraphs_translation_sync.location_list.yml
  ecms_base/features/custom/ecms_paragraphs/config/install/core.entity_form_display.paragraph.accordion_builder.default.yml
  ecms_base/features/custom/ecms_paragraphs/config/install/core.entity_form_display.paragraph.card.default.yml
  ecms_base/features/custom/ecms_paragraphs/config/install/core.entity_form_display.paragraph.column_container.default.yml
  ecms_base/features/custom/ecms_paragraphs/config/install/core.entity_form_display.paragraph.embed.default.yml
  ecms_base/features/custom/ecms_paragraphs/config/install/core.entity_form_display.paragraph.file_list.default.yml
  ecms_base/features/custom/ecms_paragraphs/config/install/core.entity_form_display.paragraph.formatted_text.default.yml
  ecms_base/features/custom/ecms_paragraphs/config/install/core.entity_form_display.paragraph.gallery.default.yml
  ecms_base/features/custom/ecms_paragraphs/config/install/core.entity_form_display.paragraph.gallery_item.default.yml
  ecms_base/features/custom/ecms_paragraphs/config/install/core.entity_form_display.paragraph.icon_button.default.yml
  ecms_base/features/custom/ecms_paragraphs/config/install/core.entity_form_display.paragraph.icon_card.default.yml
  ecms_base/features/custom/ecms_paragraphs/config/install/core.entity_form_display.paragraph.media_item.default.yml
  ecms_base/features/custom/ecms_paragraphs/config/install/core.entity_form_display.paragraph.numbered_step_item.default.yml
  ecms_base/features/custom/ecms_paragraphs/config/install/core.entity_form_display.paragraph.text_card.default.yml
  ecms_base/features/custom/ecms_paragraphs/config/install/field.field.paragraph.icon_card.field_icon.yml
  ecms_base/features/custom/ecms_person/config/install/paragraphs_translation_sync.person_list.yml
Labels: approved, configuration, drupal, yml

#254 Update hook to rename files
  CHANGELOG.md
  ecms_base/ecms_base.install
Labels: approved, bug, drupal, php

#259 Move palette class to HTML tag
  CHANGELOG.md
  ecms_base/themes/custom/ecms/ecms.theme
  ecms_base/themes/custom/ecms/templates/layout/html.html.twig
Labels: bug, drupal, php, twig
