Repository State-of-Rhode-Island-eCMS/ecms_profile, pull requests merged in 2021-05, with the labels that each got.

#261 Riga 57/add tables wysiwyg
  CHANGELOG.md
  ecms_base/config/install/filter.format.basic_html.yml
  ecms_base/ecms_base.install
Labels: configuration, drupal, php, yml

#262 Core update from 9.0 to 9.1
  .github/workflows/develop.yml
  CHANGELOG.md
  composer.json
  ecms_base/modules/custom/ecms_api_recipient/src/Plugin/QueueWorker/NotificationCreationQueueWorker.php
  ecms_base/modules/custom/ecms_api_recipient/tests/src/Unit/Plugin/Queueworker/NotificationCreationQueueWorkerTest.php
  ecms_base/modules/custom/ecms_workflow/ecms_workflow.module
  ecms_base/modules/custom/ecms_workflow/src/EcmsWorkflowBundleCreate.php
  scripts/ci-develop.sh
  scripts/develop.sh
Labels: bash, drupal, json, php, yml

#263 Several small event updates
  CHANGELOG.md
  composer.json
  ecms_base/features/custom/ecms_event/config/install/views.view.events.yml
  ecms_base/features/custom/ecms_event/ecms_event.info.yml
  ecms_base/themes/custom/ecms/templates/content/node--event--full.html.twig
  ecms_base/themes/custom/ecms/templates/content/node--event--teaser.html.twig
Labels: bug, configuration, drupal, twig, yml

#264 Resolve issues with publication list translation settings
  CHANGELOG.md
  ecms_base/features/custom/ecms_publications/config/install/field.field.paragraph.publication_list.field_publication_list_audience.yml
  ecms_base/features/custom/ecms_publications/config/install/field.field.paragraph.publication_list.field_publication_list_form.yml
  ecms_base/features/custom/ecms_publications/config/install/field.field.paragraph.publication_list.field_publication_list_language.yml
  ecms_base/features/custom/ecms_publications/config/install/field.storage.paragraph.field_publication_list_language.yml
  ecms_base/features/custom/ecms_publications/config/install/language.content_settings.paragraph.publication_list.yml
  ecms_base/features/custom/ecms_publications/ecms_publications.info.yml
Labels: bug, configuration, drupal, yml
