Repository State-of-Rhode-Island-eCMS/ecms_profile, pull requests merged in 2021-11, with the labels that each got.

#323 Add view database connector and entity print modules
  CHANGELOG.md
  composer.json
Labels: json

#324 Require missing ICal library
  CHANGELOG.md
  composer.json
Labels: bug, json

#327 Update smart date module, update feed
  CHANGELOG.md
  composer.json
  ecms_base/ecms_base.install
  ecms_base/features/custom/ecms_event/config/install/feeds.feed_type.ical_feed.yml
Labels: configuration, php, json

#329 Add Search State CTA to acquia search results
  CHANGELOG.md
  ecms_base/themes/custom/ecms/ecms.theme
  ecms_base/themes/custom/ecms/templates/views/views-view-unformatted--acquia-search.html.twig
Labels: approved, php, twig

#328 Add search state block
  CHANGELOG.md
  ecms_base/modules/custom/ecms_blocks/src/Form/SearchStateBlockForm.php
  ecms_base/modules/custom/ecms_blocks/src/Plugin/Block/SearchStateBlock.php
  ecms_base/themes/custom/ecms/ecms.theme
  ecms_base/themes/custom/ecms/templates/blocks/block--ecms-search-state-block.html.twig
Labels: approved, php, twig
