Repository State-of-Rhode-Island-eCMS/ecms_profile, pull requests merged in 2021-01, with the labels that each got.

#192 Add media file link behavior field and fix media library display
  CHANGELOG.md
  ecms_base/features/custom/ecms_paragraphs/config/install/core.entity_form_display.media.file.default.yml
  ecms_base/features/custom/ecms_paragraphs/config/install/core.entity_form_display.media.file.media_library.yml
  ecms_base/features/custom/ecms_paragraphs/config/install/core.entity_view_display.media.file.default.yml
  ecms_base/features/custom/ecms_paragraphs/config/install/core.entity_view_display.media.file.media_library.yml
  ecms_base/features/custom/ecms_paragraphs/config/install/field.field.media.file.field_file_link_behavior.yml
  ecms_base/features/custom/ecms_paragraphs/config/install/field.storage.media.field_file_link_behavior.yml
  ecms_base/themes/custom/ecms/ecms.theme
  ecms_base/themes/custom/ecms/templates/content/media--file.html.twig
Labels: approved, configuration, drupal, php, twig, yml

#193 Updated docs
  CHANGELOG.md
  ecms_base/modules/custom/ecms_migration/README.md
Labels: documentation, drupal

#194 Prepare changelog for release 0.4.0
  CHANGELOG.md
Labels: approved

#195 Add permissions for gallery bundles
  CHANGELOG.md
  ecms_base/config/install/user.role.anonymous.yml
  ecms_base/config/install/user.role.authenticated.yml
  ecms_base/config/install/user.role.content_author.yml
  ecms_base/config/install/user.role.content_publisher.yml
  ecms_base/config/install/user.role.site_admin.yml
  ecms_base/ecms_base.install
Labels: configuration, drupal, php

#196 Fix "Call to a member function getEntityTypeId() on null (Layout Builder)"
  CHANGELOG.md
  composer.json
  ecms_base/themes/custom/ecms/ecms.theme
Labels: approved, bug, php

#197 Prepare changelog for release 0.4.1
  CHANGELOG.md
Labels: approved

#198 Remove links from default displays
  CHANGELOG.md
  ecms_base/features/custom/ecms_basic_page/config/install/core.entity_view_display.node.basic_page.default.yml
  ecms_base/features/custom/ecms_event/config/install/core.entity_view_display.node.event.default.yml
  ecms_base/features/custom/ecms_landing_page/config/install/core.entity_view_display.node.landing_page.default.yml
  ecms_base/features/custom/ecms_location/config/install/core.entity_view_display.node.location.default.yml
  ecms_base/features/custom/ecms_notification/config/install/core.entity_view_display.node.notification.default.yml
  ecms_base/features/custom/ecms_person/config/install/core.entity_view_display.node.person.default.yml
  ecms_base/features/custom/ecms_press_release/config/install/core.entity_view_display.node.press_release.default.yml
  ecms_base/features/custom/ecms_promotions/config/install/core.entity_view_display.node.promotions.default.yml
  ecms_base/features/custom/ecms_publications/config/install/core.entity_view_display.node.publication.default.yml
Labels: approved, bug, yml

#199 Add honeypot module
  CHANGELOG.md
  composer.json
  ecms_base/config/install/honeypot.settings.yml
  ecms_base/config/install/webform.settings.yml
  ecms_base/ecms_base.info.yml
  ecms_base/ecms_base.install
Labels: configuration, drupal, json, php, yml

#201 Add cachetags method to notifications block
  CHANGELOG.md
  ecms_base/modules/custom/ecms_blocks/src/Plugin/Block/SiteNotificationsBlock.php
Labels: configuration, drupal, php

#202 Remove deprecated theme functions from search block
  CHANGELOG.md
  ecms_base/modules/custom/ecms_blocks/ecms_blocks.module
  ecms_base/modules/custom/ecms_blocks/src/Form/SearchBlockForm.php
  ecms_base/modules/custom/ecms_blocks/templates/ecms-search-block-form.html.twig
  ecms_base/themes/custom/ecms/templates/form/ecms-search-block-form.html.twig
  ecms_base/themes/custom/ecms/templates/layout/html.html.twig
  ecms_base/themes/custom/ecms/templates/layout/page--landing-page.html.twig
  ecms_base/themes/custom/ecms/templates/layout/page.html.twig
  ecms_base/themes/custom/ecms/templates/layout/region.html.twig
Labels: bug, php, twig

#200 Add migration process plugin to strip HTML attributes
  CHANGELOG.md
  ecms_base/modules/custom/ecms_migration/config/install/migrate_plus.migration.ecms_basic_page.yml
  ecms_base/modules/custom/ecms_migration/src/Plugin/migrate/process/RemoveAttribute.php
  ecms_base/modules/custom/ecms_migration/tests/src/Unit/process/RemoveAttributeTest.php
Labels: configuration, drupal, php, yml

#205 Update files redirect migration
  CHANGELOG.md
  ecms_base/modules/custom/ecms_migration/config/install/migrate_plus.migration.ecms_file_redirect.yml
  ecms_base/modules/custom/ecms_migration/ecms_migration.module
Labels: configuration, drupal, php, yml

#204 Update admin language detection config
  CHANGELOG.md
  ecms_base/config/install/language.types.yml
  ecms_base/config/install/page_manager.page.moderation_dashboard.yml
  ecms_base/ecms_base.install
  ecms_base/features/custom/ecms_paragraphs/config/install/core.base_field_override.media.file.thumbnail.yml
  ecms_base/features/custom/ecms_paragraphs/config/install/core.base_field_override.media.media_item_image.thumbnail.yml
  ecms_base/features/custom/ecms_paragraphs/config/install/core.base_field_override.media.media_item_video.thumbnail.yml
  ecms_base/features/custom/ecms_paragraphs/config/install/core.base_field_override.paragraph.gallery.created.yml
  ecms_base/features/custom/ecms_paragraphs/config/install/core.base_field_override.paragraph.gallery.status.yml
  ecms_base/features/custom/ecms_paragraphs/config/install/core.base_field_override.paragraph.gallery_item.created.yml
  ecms_base/features/custom/ecms_paragraphs/config/install/core.base_field_override.paragraph.gallery_item.status.yml
  ecms_base/features/custom/ecms_paragraphs/config/install/core.entity_form_display.media.file.default.yml
  ecms_base/features/custom/ecms_paragraphs/config/install/core.entity_form_display.media.file.media_library.yml
  ecms_base/features/custom/ecms_paragraphs/config/install/core.entity_form_display.paragraph.card.default.yml
  ecms_base/features/custom/ecms_paragraphs/config/install/core.entity_form_display.paragraph.gallery.default.yml
  ecms_base/features/custom/ecms_paragraphs/config/install/core.entity_view_display.paragraph.gallery.preview.yml
  ecms_base/features/custom/ecms_paragraphs/config/install/core.entity_view_display.paragraph.gallery_item.preview.yml
  ecms_base/features/custom/ecms_paragraphs/config/install/field.field.media.media_item_image.field_media_item_image.yml
  ecms_base/features/custom/ecms_paragraphs/config/install/field.field.paragraph.media_item.field_alignment.yml
  ecms_base/features/custom/ecms_paragraphs/config/install/field.field.paragraph.media_item.field_size.yml
  ecms_base/features/custom/ecms_paragraphs/config/install/language.content_settings.paragraph.gallery.yml
  ecms_base/features/custom/ecms_paragraphs/config/install/language.content_settings.paragraph.gallery_item.yml
  ecms_base/themes/custom/ecms/ecms.theme
  ecms_base/themes/custom/ecms/templates/content/node--promotions--teaser.html.twig
  ecms_base/themes/custom/ecms/templates/paragraphs/paragraph--gallery-item.html.twig
  ecms_base/themes/custom/ecms/templates/paragraphs/paragraph--media-item.html.twig
Labels: approved, configuration, drupal, php, yml

#206 Header, Image, and Action component. Minimal Text Format and additional fixes to Layout Builder
  CHANGELOG.md
  composer.json
  ecms_base/config/install/filter.format.minimal.yml
  ecms_base/ecms_base.install
  ecms_base/features/custom/ecms_landing_page/config/install/block_content.type.header_image_action.yml
  ecms_base/features/custom/ecms_landing_page/config/install/core.entity_form_display.block_content.content_components.default.yml
  ecms_base/features/custom/ecms_landing_page/config/install/core.entity_form_display.block_content.header_image_action.default.yml
  ecms_base/features/custom/ecms_landing_page/config/install/core.entity_view_display.block_content.header_image_action.default.yml
  ecms_base/features/custom/ecms_landing_page/config/install/core.entity_view_display.node.landing_page.full.yml
  ecms_base/features/custom/ecms_landing_page/config/install/field.field.block_content.header_image_action.field_hia_link.yml
  ecms_base/features/custom/ecms_landing_page/config/install/field.field.block_content.header_image_action.field_hia_page_title_enabled.yml
  ecms_base/features/custom/ecms_landing_page/config/install/field.field.block_content.header_image_action.field_hia_text.yml
  ecms_base/features/custom/ecms_landing_page/config/install/field.field.block_content.header_image_action.field_hia_text_bg_color.yml
  ecms_base/features/custom/ecms_landing_page/config/install/field.field.block_content.header_image_action.field_hia_text_position.yml
  ecms_base/features/custom/ecms_landing_page/config/install/field.field.block_content.header_image_action.field_image.yml
  ecms_base/features/custom/ecms_landing_page/config/install/field.storage.block_content.field_hia_link.yml
  ecms_base/features/custom/ecms_landing_page/config/install/field.storage.block_content.field_hia_page_title_enabled.yml
  ecms_base/features/custom/ecms_landing_page/config/install/field.storage.block_content.field_hia_text.yml
  ecms_base/features/custom/ecms_landing_page/config/install/field.storage.block_content.field_hia_text_bg_color.yml
  ecms_base/features/custom/ecms_landing_page/config/install/field.storage.block_content.field_hia_text_position.yml
  ecms_base/features/custom/ecms_landing_page/config/install/language.content_settings.block_content.header_image_action.yml
  ecms_base/features/custom/ecms_landing_page/ecms_landing_page.info.yml
  ecms_base/modules/custom/ecms_layout/layouts/layout--one-column.html.twig
  ecms_base/modules/custom/ecms_layout/src/Plugin/Layout/LayoutBase.php
  ecms_base/themes/custom/ecms/templates/blocks/block--inline-block--header-image-action.html.twig
  ecms_base/themes/custom/ecms/templates/fields/field--field-hia-text.html.twig
Labels: bug, configuration, drupal, enhancement, php, twig, yml

#208 Fix missing translation error
  CHANGELOG.md
  ecms_base/themes/custom/ecms/templates/content/node--promotions--teaser.html.twig
  ecms_base/themes/custom/ecms/templates/paragraphs/paragraph--gallery-item.html.twig
  ecms_base/themes/custom/ecms/templates/paragraphs/paragraph--media-item.html.twig
Labels: approved, drupal, twig

#209 Prepare changelog for release 0.4.4
  CHANGELOG.md
Labels: approved, release

#210 Add row loop variable to both instances of article listing.
  CHANGELOG.md
  ecms_base/themes/custom/ecms/templates/views/views-view--press-releases--page_1.html.twig
  ecms_base/themes/custom/ecms/templates/views/views-view-unformatted--site-search.html.twig
Labels: approved, bug, twig

#212 Add logo only theme setting
  CHANGELOG.md
  ecms_base/themes/custom/ecms/ecms.theme
  ecms_base/themes/custom/ecms/theme-settings.php
Labels: approved, drupal, enhancement, php

#211 Notification weighting and expiration functionality
  CHANGELOG.md
  ecms_base/config/install/editor.editor.minimal.yml
  ecms_base/config/install/user.role.authenticated.yml
  ecms_base/features/custom/ecms_notification/config/install/core.entity_form_display.node.notification.default.yml
  ecms_base/features/custom/ecms_notification/config/install/core.entity_view_display.node.notification.default.yml
  ecms_base/features/custom/ecms_notification/config/install/core.entity_view_display.node.notification.teaser.yml
  ecms_base/features/custom/ecms_notification/config/install/field.field.node.notification.field_notification_weight.yml
  ecms_base/features/custom/ecms_notification/config/install/field.storage.node.field_notification_weight.yml
  ecms_base/features/custom/ecms_notification/ecms_notification.module
  ecms_base/modules/custom/ecms_blocks/src/Plugin/Block/SiteNotificationsBlock.php
Labels: configuration, drupal, enhancement, php, yml
