Repository State-of-Rhode-Island-eCMS/ecms_profile, pull requests merged in 2023-10, with the labels that each got.

#457 Prep contrib modules and environment for D10 upgrade
  CHANGELOG.md
  composer.json
  ecms_acquia/ecms_acquia.info.yml
  ecms_base/config/install/user.role.authenticated.yml
  ecms_base/config/install/user.role.content_author.yml
  ecms_base/config/install/user.role.content_publisher.yml
  ecms_base/config/install/user.role.site_admin.yml
  ecms_base/ecms_base.info.yml
  ecms_base/ecms_base.install
  ecms_base/features/custom/ecms_basic_page/ecms_basic_page.info.yml
  ecms_base/features/custom/ecms_database_search/ecms_database_search.info.yml
  ecms_base/features/custom/ecms_event/ecms_event.info.yml
  ecms_base/features/custom/ecms_executive_orders/ecms_executive_orders.info.yml
  ecms_base/features/custom/ecms_hotel/ecms_hotel.info.yml
  ecms_base/features/custom/ecms_landing_page/ecms_landing_page.info.yml
  ecms_base/features/custom/ecms_location/ecms_location.info.yml
  ecms_base/features/custom/ecms_migration_file/ecms_migration_file.info.yml
  ecms_base/features/custom/ecms_notification/ecms_notification.info.yml
  ecms_base/features/custom/ecms_notification/ecms_notification.module
  ecms_base/features/custom/ecms_paragraphs/ecms_paragraphs.info.yml
  ecms_base/features/custom/ecms_person/ecms_person.info.yml
  ecms_base/features/custom/ecms_press_release/ecms_press_release.info.yml
  ecms_base/features/custom/ecms_projects/ecms_projects.info.yml
  ecms_base/features/custom/ecms_promotions/ecms_promotions.info.yml
  ecms_base/features/custom/ecms_publications/ecms_publications.info.yml
  ecms_base/features/custom/ecms_solr_search/ecms_solr_search.info.yml
  ecms_base/features/custom/ecms_speeches/ecms_speeches.info.yml
  ecms_base/features/custom/ecms_vaccination_site/ecms_vaccination_site.info.yml
  ecms_base/modules/custom/ecms_api/ecms_api.info.yml
  ecms_base/modules/custom/ecms_api_notification_publisher/ecms_api_notification_publisher.info.yml
  ecms_base/modules/custom/ecms_api_press_release_publisher/ecms_api_press_release_publisher.info.yml
  ecms_base/modules/custom/ecms_api_publication_publisher/ecms_api_publication_publisher.info.yml
  ecms_base/modules/custom/ecms_api_publisher/ecms_api_publisher.info.yml
  ecms_base/modules/custom/ecms_api_publisher/tests/src/Unit/Entity/EcmsApiSiteTest.php
  ecms_base/modules/custom/ecms_api_recipient/config/install/user.role.ecms_api_recipient.yml
  ecms_base/modules/custom/ecms_api_recipient/ecms_api_recipient.info.yml
  ecms_base/modules/custom/ecms_api_recipient/tests/src/Unit/Form/EcmsApiRecipientConfigFormTest.php
  ecms_base/modules/custom/ecms_authentication/ecms_authentication.info.yml
  ecms_base/modules/custom/ecms_blocks/ecms_blocks.info.yml
  ecms_base/modules/custom/ecms_blocks/src/Plugin/Block/HotelListingBlock.php
  ecms_base/modules/custom/ecms_blocks/src/Plugin/Block/PromotionsGlobalBlock.php
  ecms_base/modules/custom/ecms_blocks/src/Plugin/Block/SiteNotificationsBlock.php
  ecms_base/modules/custom/ecms_covid_publication_migrate/ecms_covid_publication_migrate.info.yml
  ecms_base/modules/custom/ecms_distribution/ecms_distribution.info.yml
  ecms_base/modules/custom/ecms_distribution/ecms_distribution.module
  ecms_base/modules/custom/ecms_feeds/ecms_feeds.info.yml
  ecms_base/modules/custom/ecms_icon_library/ecms_icon_library.info.yml
  ecms_base/modules/custom/ecms_icon_library/src/Plugin/Field/FieldFormatter/EcmsIconLibraryFormatter.php
  ecms_base/modules/custom/ecms_icon_library/src/Plugin/Field/FieldWidget/EcmsIconLibraryWidget.php
  ecms_base/modules/custom/ecms_languages/ecms_languages.info.yml
  ecms_base/modules/custom/ecms_layout/ecms_layout.info.yml
  ecms_base/modules/custom/ecms_migration/ecms_migration.info.yml
  ecms_base/modules/custom/ecms_migration/ecms_migration.module
  ecms_base/modules/custom/ecms_search_settings/ecms_search_settings.info.yml
  ecms_base/modules/custom/ecms_workflow/ecms_workflow.info.yml
  ecms_base/themes/custom/ecms/ecms.info.yml
  ecms_base/themes/custom/ecms/ecms.theme
  ecms_base/themes/custom/ecms_claro/ecms_claro.info.yml
Labels: configuration, drupal, php, yml, json

#450 Install and enable modules: entity_usage, focal_point, iek
  CHANGELOG.md
  composer.json
  ecms_base/config/install/crop.type.focal_point.yml
  ecms_base/config/install/entity_usage.settings.yml
  ecms_base/config/install/focal_point.settings.yml
  ecms_base/ecms_base.install
Labels: drupal, php, json

#462 Fix Focal Point config
  ecms_base/config/install/crop.type.focal_point.yml
  ecms_base/ecms_base.info.yml
  ecms_base/ecms_base.install
Labels: configuration, yml

#460 Add conditional_field, quick_node_clone, advagg and field_group modules
  CHANGELOG.md
  composer.json
Labels: json

#463 Prepare CHANGELOG for 0.10.5 release
  CHANGELOG.md
Labels: release

#465 Prepare CHANGELOG for 0.10.6 release
  CHANGELOG.md
Labels: release

#467 Comment out code of error-causing hooks
  CHANGELOG.md
  ecms_base/ecms_base.install
Labels: bug

#468 Prepare CHANGELOG for 0.10.7 release
  CHANGELOG.md
Labels: release
