Repository State-of-Rhode-Island-eCMS/ecms_profile, pull requests merged in 2023-08, with the labels that each got.

#451 August Module Updates
  CHANGELOG.md
  composer.json
Labels: drupal, json

#452 Prepare CHANGELOG for 0.10.2 release
  CHANGELOG.md
Labels: release

#455 Use transform relative function for file URLs
  CHANGELOG.md
  ecms_base/themes/custom/ecms/config/schema/ecms.schema.yml
  ecms_base/themes/custom/ecms/ecms.theme
  ecms_base/themes/custom/ecms/theme-settings.php
Labels: configuration, drupal, php, yml

#454 August Module Updates pt2-2
  CHANGELOG.md
  composer.json
Labels: drupal, json

#456 Prepare CHANGELOG for 0.10.3 release
  CHANGELOG.md
Labels: release
