Repository State-of-Rhode-Island-eCMS/ecms_profile, pull requests merged in 2024-07, with the labels that each got.

#507 Add HAL module
  CHANGELOG.md
  composer.json
Labels: composer dependencies

#509 Add agency select field to the Press Release content type through features
  CHANGELOG.md
  ecms_base/features/custom/ecms_press_release/config/install/core.entity_form_display.node.press_release.default.yml
  ecms_base/features/custom/ecms_press_release/config/install/core.entity_view_display.node.press_release.default.yml
  ecms_base/features/custom/ecms_press_release/config/install/core.entity_view_display.node.press_release.teaser.yml
  ecms_base/features/custom/ecms_press_release/config/install/field.field.node.press_release.field_agency.yml
  ecms_base/features/custom/ecms_press_release/config/install/field.field.node.press_release.field_press_release_body.yml
  ecms_base/features/custom/ecms_press_release/config/install/field.field.node.press_release.field_press_release_source.yml
  ecms_base/features/custom/ecms_press_release/config/install/field.storage.node.field_agency.yml
  ecms_base/features/custom/ecms_press_release/ecms_press_release.info.yml
Labels: enhancement

#510 Add missing option
  ecms_base/features/custom/ecms_press_release/config/install/field.storage.node.field_agency.yml
Labels: configuration

#508 Release Candidate for 1.0.5
  CHANGELOG.md
  composer.json
  ecms_base/features/custom/ecms_press_release/config/install/core.entity_form_display.node.press_release.default.yml
  ecms_base/features/custom/ecms_press_release/config/install/core.entity_view_display.node.press_release.default.yml
  ecms_base/features/custom/ecms_press_release/config/install/core.entity_view_display.node.press_release.teaser.yml
  ecms_base/features/custom/ecms_press_release/config/install/field.field.node.press_release.field_agency.yml
  ecms_base/features/custom/ecms_press_release/config/install/field.field.node.press_release.field_press_release_body.yml
  ecms_base/features/custom/ecms_press_release/config/install/field.field.node.press_release.field_press_release_source.yml
  ecms_base/features/custom/ecms_press_release/config/install/field.storage.node.field_agency.yml
  ecms_base/features/custom/ecms_press_release/ecms_press_release.info.yml
Labels: release candidate
